[2020-02-04 20:58] spitalnyd opened #1 "What are the objectives we want to accomplished before next class?"
Coming up with a plan and goals of objectives to get done before next week

[2020-02-04 21:03] noorbuchi commented on #1
The tools we should research for next week are: [PyGithub](https://github.com/PyGithub/PyGithub), [PyDriller](https://github.com/ishepard/pydriller), [StreamLit](https://www.streamlit.io/), [FastAPI](https://github.com/tiangolo/fastapi)

[2020-02-04 21:13] santacruzm opened #2 "PyGitHub"
https://github.com/PyGithub/PyGithub

Research and create Demo by next week

[2020-02-04 21:15] Cory-Wiard commented on #1
Let's make sure each group puts together a 5 minute presentation that includes a demo on the four research topics.

[2020-02-04 21:15] WonjoonC opened #3 "Pydriller"
This opens the floor to discuss things about Pydriller.

[2020-02-04 21:18] stephensonc opened #4 "FastAPI Research"
This group is responsible for researching tools of the same type as FastAPI and determining:
- If FastAPI is the best tool for this purpose
- How to use the tool we deem best for the purpose

[2020-02-04 21:19] spitalnyd opened #5 "Research Team: Streamlit"
Researching Streamlit and presenting it by the next class

[2020-02-04 21:39] liux2 commented on #1
What I suggested during class by deadline is that we can choose a project management model. For example, scrum, agile, etc. I suggest we select one or modify from one, and make the schedule based on the model.

[2020-02-05 15:17] mcnultycollin commented on #4
Looks like creating a demo API will be pretty easy using the tutorial on the Github page. We just need to figure out what kind of methods / libraries or whatever we will be demoing.
https://github.com/tiangolo/fastapi

[2020-02-06 04:57] noorbuchi commented on #4
In addition to the tutorial on the GitHub page, there is this in-depth [tutorial](https://fastapi.tiangolo.com/tutorial/) on how to use the tool. It might be worth checking out to understand it more.

[2020-02-08 20:43] noorbuchi commented on #4
Hi everyone, I  just added a commit to our branch that combines PyGithub and FastAPI. I realize that some things are missing and could be improved. Please check the readme file before changing anything. Feedback would be greatly appreciated!

[2020-02-09 18:28] noorbuchi commented on #4
Hi everyone. I just updated the branch with a new feature. There are some issues with the current build but I'm not sure how to fix them. If you get a chance, please check it out and help me in fixing the issue with the `branches_list` function. Thank you!

[2020-02-09 21:51] bagashvilit commented on #2
Hi everyone, I added some configuration files to our branch. I also added a sample demo from PyGithub. Please see `demo.py`. We should probably add more features.
Also according to the [website](https://pygithub.readthedocs.io/en/latest/introduction.html), PyGithub is a python library to use [Github API v3](https://developer.github.com/v3/). Maybe we should research more about it.

[2020-02-09 22:04] cklima616 commented on #2
@bagashvilit Thank you Teona! I will do some research on alternative tools, just to make sure this is the most effective. In addition, I will look more into GitHub API v3. I don't know what that will look like in terms of commits, but will keep you posted in here.

[2020-02-09 22:42] bagashvilit commented on #2
@cklima616 I also have some issues with configuring PyGithub, please let me know if you make it work.

[2020-02-09 23:14] mcnultycollin commented on #4
I am going to attempt to switch the name to main.py and see if that fixes the issue.

[2020-02-09 23:17] mcnultycollin commented on #4
Looks like the name is not a factor. Here is the current error with running this program:
[code]

[2020-02-09 23:18] mcnultycollin commented on #4
Update: Switching to this simple code
[code]
yielded a successful server. This means that the error must be within our main.py program.

[2020-02-09 23:23] mcnultycollin commented on #4
Deleted all but the first method and still got the same error, so it involves this method:
@app.get("/create_user")
def create_user(user_token):
    global current_user_token
    current_user_token = user_token
    global current_user_account
    current_user_account = Github(user_token)
    user = current_user_account.get_user()
    statement = user.login + " created successfully!"
    return sta

[2020-02-09 23:34] mcnultycollin commented on #4
Update: we were missing pyGithub in our Pipfile.

[2020-02-10 00:02] bagashvilit commented on #2
Should we add `.travis.yml`?

[2020-02-10 01:26] Jordan-A commented on #2
Great idea to add the default demo! I can also do research on different tools and add to the demo file.

[2020-02-10 05:30] noorbuchi commented on #4
UPDATE: All past issues have been solved with the latest commit! README file has also been updated to show more comprehensive and clear instructions. Unless someone has any questions or suggestions, we can close this issue tracker. Thanks everyone!

[2020-02-10 14:12] koscinskic commented on #4
I would think we should keep the research branches open for future consultation and reference between teams. That way, if anyone makes any breakthroughs or finds a particularly useful feature, we can more easily integrate that improvement across Cogitate features.

[2020-02-10 16:04] noorbuchi commented on #4
ISSUE: Even though everything is working when running the program using the FastAPI method or by simply running `python demo.py` there is a current small issue with this branch when running the python file using  `pipenv run python demo.py` command. Doing so will result in `ModuleNotFoundError: No module named 'GitHub'` error regarding the import GitHub statement at the beginning of the file. It w

[2020-02-10 17:06] stephensonc commented on #4
I can take a look at the module error.

[2020-02-10 17:23] koscinskic commented on #1
Agile seems to be a common expectation from a lot of internships I've heard of, so I'd opt for that model.

[2020-02-10 17:31] liux2 commented on #1
I agree since we are a big team. @koscinskic

[2020-02-10 17:31] stephensonc commented on #4
@noorbuchi It looks like you need to do a `pipenv install --dev` before attempting to use the pipenv run command. I just tested that procedure and it imports correctly. I have not created a github api token yet in order to test the rest of the program, but I believe you had stated that the program functions properly.

[2020-02-10 17:43] noorbuchi commented on #4
@stephensonc that is correct, you will need to run the install command before attempting to run the program. However, even after running the install command, using the `pipenv run demo.py` command will not correctly run the program. You can still run it without the fastAPI in your local python version using `python demo.py`. I'm not sure this clarifies things, please let me know. Thanks!

[2020-02-10 18:29] stephensonc commented on #4
I just typed in both 'pipenv run python demo.py' and 'pipenv run python3 demo.py' and both ran error-free on my machine

[2020-02-10 18:37] spitalnyd commented on #5
Plan to meet at 4:15 to go over our demo

[2020-02-10 19:07] hodevin commented on #5
I second this @spitalnyd

[2020-02-10 19:24] stephensonc commented on #4
I think that it might be a good idea to have the demo program print the functions it is calling at the time it calls them

[2020-02-10 19:44] lussierc commented on #5
Sounds good @spitalnyd.

I was thinking we just try to make a simple interface using Streamlit that possibly displays some simple data that Cogitate would actually display when the tool is completed. If you install Streamlit and run the “streamlit hello” command for Streamlit's hello world example, then look at the plotting demo, I feel we could easily reference some of the plotting demo code and

[2020-02-10 19:47] lussierc commented on #5
For reference, [here is the Streamlit documentation](https://docs.streamlit.io) which contains the info on how to install and get started with Streamlit. It also contains information about running the Hello World example I mentioned in my last comment.

[2020-02-10 20:43] cklima616 commented on #2
@bagashvilit I don't think travis.yml is necessary! I'm about to attempt to configure it. Did anyone find any alternatives? I didn't find any that were viable.

[2020-02-10 21:22] cklima616 commented on #2
Hey everyone, I tried running our demo file, but I am having difficulty because I am getting this error:
[code]

[2020-02-10 21:36] noorbuchi commented on #2
Hi @cklima616 ! I don't mean to intervene in your demo or your branch, but I might be able to help since we had a similar issue in our branch. I would suggest that you include the packages in your pipfile then running the `pipenv install --dev` which would install all of the packages in the pipfile dev section. A portion of the pipfile would look something like this
[code]
I hope this is helpful

[2020-02-10 21:50] cklima616 commented on #2
@noorbuchi Thank you! While this makes sense, I am getting a pretty nasty error message. I tried reverting the code back to what @bagashvilit initially committed, and this is what I get:
[code]
I will hold off on pushing these changes in the meantime, but if anyone has any ideas on what this means, that would be super.

[2020-02-10 21:53] cklima616 commented on #2
My guess would be it involves either a) declaring the initial variables or 2) defining the base_url.

[2020-02-10 21:58] spitalnyd commented on #5
Plan:
Explain what Streamlit does?
Do basic demo streamlit?
Do a demo of streamlit related to our project?
explain how streamlit will be develop in our project

[2020-02-10 22:05] noorbuchi commented on #2
These are some overwhelming error messages for sure. I hope you can get them fixed soon. While I was reading some of your code I noticed some issues that we also encountered while implementing elements of the PyGitHub into our demo. The first issue that I see is the instantiation of multiple invalid GitHub objects. While you can use either of the three methods of authentication, you can't use all

[2020-02-10 22:20] Cory-Wiard commented on #5
Slide 1: Cory Wiard
Slide 2: Xingbang Liu
Slide 3: Devin H.
Slide 4:  Anthony
Slide 5: Devin and Jordan
Demo: Christian and Danny

[2020-02-10 22:21] liux2 commented on #5
https://docs.google.com/presentation/d/1A93gvlvMzHBLq_91Lb4QW_gussGtwzs2onTp4om3CYg/edit?usp=sharing

[2020-02-10 22:48] cassidyt2 commented on #4
I will work on adding the necessary print statements to give the other teams clarity as to what is happening in our program when we give the demo

[2020-02-10 22:57] mcnultycollin commented on #1
Agile looks good to me.

[2020-02-10 23:00] mcnultycollin commented on #3
Do you guys need help with anything in preparation for tomorrow?

[2020-02-10 23:03] koscinskic opened #7 "Dependency List / Demo Branch"
In preparation for tomorrow's demos, we should get a list of dependencies together and create a few unified files(e.g. travis.yml, pipfile, etc.) that accommodate all of these dependencies.

[2020-02-10 23:24] lussierc commented on #1
I think that agile would be a good option since we have a large team of over 20 people.

[2020-02-10 23:43] mcnultycollin commented on #4
Running a main method requires that the program execute in the terminal rather than on the localhost.

[2020-02-11 00:05] cklima616 commented on #2
@noorbuchi Thank you for explaining the access token! I updated our branch, and was able to get it to run. It looks like for each user, we would need an access token - so right now, the program prints the repos in my personal GitHub.

[2020-02-11 00:14] noorbuchi commented on #7
hi @koscinskic ! the dev packages used for our group, FastAPI are the following
[code]
However, we did not use the pytest, this is simply for future use of test suites

[2020-02-11 00:20] noorbuchi commented on #4
@mcnultycollin having the main method will not, in fact, cause that issue. It will still allow you to run the localhost as long as you complete the terminal prompts first. You can also choose not to run the terminal prompts at all when asked.

[2020-02-11 00:30] cklima616 commented on #2
Okay, new problem: GitHub revoked my access token because they saw that I committed it to our repo? So I can make a new one for the demo to work, but I don't think it's a viable option to use that method in the future. Something we can all talk about.

[2020-02-11 00:30] bagashvilit commented on #2
@cklima616  I am still unable to run `demo.py`. What commands did you use to configure the `PyGithub`, or to run the program

[2020-02-11 00:33] cklima616 commented on #2
@bagashvilit it's because GitHub revoked the access token I use in the repo. They will revoke them if we commit them to a repo for privacy reasons.

[2020-02-11 00:44] cklima616 commented on #2
@bagashvilit I just committed an updated demo! To make it run, do this:
1. In your GitHub, click on your icon and go to Settings -> Developer Settings -> Personal Access Tokens to generate an access token. It will ask you to select what the token should actually give access to - I did everything except for "add" and "delete" methods.
2. In the source code, replace my access token (a bunch of rando

[2020-02-11 00:47] cklima616 commented on #2
The above steps should work for everyone! Again, if you commit to the repo with your access token, GitHub will revoke access rights to it. This is just to keep information safe, but it is kind of annoying. It is something to consider. If someone is not sure what to work on, it might be useful to learn more about Github Enterprise? The third accessor method listed in that short intro involves Githu

[2020-02-11 00:54] bagashvilit commented on #2
Thank you @cklima616, I got it to work. Also, a quick note to people who tried `pip install pygithub`  command and have trouble, try using `python -m pip install pygithub` instead.

[2020-02-11 00:56] bagashvilit commented on #2
We should also update `README.md`, so that it's clear for other team members how to use the tool

[2020-02-11 00:57] noorbuchi commented on #2
@bagashvilit  @cklima616  you can solve this issue by adding the packages you need to the pipfile so when the `pipenv install --dev` command is run, all of the dev packages are installed correctly

[2020-02-11 00:59] cklima616 commented on #2
@noorbuchi We updated the Pipfile already, but thank you!

[2020-02-11 01:39] MaddyKapfhammer commented on #7
@noorbuchi Thank you for adding the dev packages for FastAPI! @koscinskic perhaps we could put this on the schedule for the lab session tomorrow? That way we can break this up into responsibilities for each team to work on and hopefully will be able to make a comprehensive list to then create the unified files.

[2020-02-11 02:20] hinckleyc commented on #3
No. We are making the demo and everything should be done before the lab starts at 2:30. Thank you for offering though.

[2020-02-11 02:25] TylerPham2000 opened #8 "No project manager in Pydriller"
Every other research group has a project manager but our research group has no project manager. Not sure if we need one or not.

[2020-02-11 02:30] guzmanr04 commented on #3
Yeah, we should be fine for the most part. We will let you know if we need some help.

[2020-02-11 02:39] santacruzm commented on #2
@cklima616 I am working on running the demo now. And a question came up what file within the source code did you go ahead and added in your access token? I added mine within the demo.py file and committed it to the repo, but it is still not working within our branch.

[2020-02-11 02:40] santacruzm commented on #2
Also, @cklima616 Thank you for sharing the step by step guide as I was also having the same issues regarding running the demo.py.

[2020-02-11 02:40] ABaldeosinghASC commented on #5
I'm ready for my part of the slides tomorrow.

[2020-02-11 02:51] cassidyt2 commented on #4
Because I don't have editor privileges I will add the documentation and explanatory print statements for tomorrow's demo, and provide my changes to team members with the necessary privileges using slack.

[2020-02-11 03:07] santacruzm commented on #2
Here is some research on **[Github Enterprise](https://enterprise.github.com/faq)**:

**GitHub Enterprise's Features**

- Compliance and auditing
- Hundreds of integrations
- Flexible deployment
- Centralized permissions
- Powerful dashboards
- Technical support

**What it is?**

GitHub Enterprise is the on-premises version of GitHub.com. In other words, GitHub keeps all of their IT environment on

[2020-02-11 03:09] santacruzm commented on #2
@bagashvilit Can you please specify what needs to be appended to the README.md file? I would like to help with clarification. Thanks!

[2020-02-11 03:24] cassidyt2 commented on #4
I have added documentation to the 'def get_repo_list():' and 'def create_user(user_token):' methods as well as the print statements in 'def main_method():' but have not yet received editing privileges, so someone else will commit and push these changes for me

[2020-02-11 03:29] Jordan-A commented on #2
@santacruzm Personally think it would be great to add the background information about pygithub and its api to the readme.md FILE. I can add that to the readme file.

[2020-02-11 03:30] declanjcasey commented on #3
So the plan at the moment is to meet at 11 tomorrow in the CC to work on the actual code we need, is everyone okay with that?

[2020-02-11 03:31] guzmanr04 commented on #8
I have also noticed the same issue.

[2020-02-11 03:36] Jordan-A commented on #2
I can confirm that the code runs for me when I added my token code. I also think that from a security standpoint it's not a great idea to share your one time token.

[2020-02-11 03:36] TylerPham2000 commented on #3
I'm able to meet at 11 tomorrow.

[2020-02-11 03:37] guzmanr04 commented on #3
I have some classes tomorrow morning and will be arriving a bit late.

[2020-02-11 03:50] koscinskic commented on #8
I don't think the research facet of the team structure needs a project manager, but I'll familiarize myself with the Pydriller documentation just in case there's a need for it. I'll bring it up tomorrow so the issue gets sorted out before the lab.

[2020-02-11 03:51] Jordan-A commented on #2
I just pushed out an update that added more information to the readme file. It can be found here: https://github.com/GatorCogitate/cogitate_tool/commit/dd9b70d726dc0cda121174c2eb2c2d06cc5d3515.

[2020-02-11 03:53] koscinskic commented on #7
That would be a good candidate for the schedule, but should we push demos back towards the middle or end of the lab to accommodate that? The integration of all of the demos into master was why this was brought up in the first place.

[2020-02-11 03:54] munzekm commented on #8
Thank you for addressing this issue and handling it tomorrow in lab. That way it will clear up any confusion.

[2020-02-11 04:14] Jordan-A commented on #2
I just added three new features to our demo file! 🎉 It now welcomes the current user, searches the names of our research group, and outputs the current repository. I also removed the access token. It can be found at the following update: https://github.com/GatorCogitate/cogitate_tool/commit/309f31cb0d973138a2cf56ea150d288963d7d261

[2020-02-11 04:26] Jordan-A commented on #2
I just added three MORE features to the demo file! 🎆 The update now returns a specific issue, gets the number of views on the repository for the past two weeks, and returns the milestone list. The last one currently returns nothing because we don't have a milestone list. The update can be found here: https://github.com/GatorCogitate/cogitate_tool/commit/b9977aafb672ee4b182e4e4c81065b366810a8fa .

[2020-02-11 05:03] Jordan-A commented on #2
I just implemented three more features to demo.py! 😎 It now gets the contents of the root directory of the repository, finds one file in the root directory, and returns all the labels in the `cogitate_tool` repository. It can be found here: https://github.com/GatorCogitate/cogitate_tool/commit/d33840a40d3c2e423479396084c80721bd944113 .

[2020-02-11 14:05] declanjcasey commented on #8
Hey Megan, what features did you add last night?

[2020-02-11 14:58] hinckleyc commented on #3
I am going to be there.

[2020-02-11 15:20] declanjcasey commented on #3
Hey Megan, what features did you end up working on last night?

[2020-02-11 15:27] hinckleyc opened #9 "Pull requests?"
Should we make pull requests for our demo code?

[2020-02-11 15:29] lussierc commented on #7
This is probably a good idea. It would give teams enough time to organize themselves for their demos and also add the necessary packages. My research team (Streamlit) has a few different packages we will need in addition to the linting/testing ones that were presented above:
[code]

[2020-02-11 15:36] hodevin commented on #5
Thank you for cooperating team.

[2020-02-11 15:37] gkapfham commented on #9
Hi @hinckleyc, thanks for this question. My advice to the members of the team is that every week you should be making contributions to the long-term software project in the form of Python source code, configuration files, and technical documentation. As such, I suggest that the demonstrations show functionality that you could, whenever possible, imagine being integrated into the tool.

[2020-02-11 15:38] gkapfham commented on #7
Hi! Please note that, sometime in the near future, our team will also need to setup a Travis CI build system for the project. This build system should be able to install all of the Python-related dependencies for the project and then run the main program and its test suites, along with performing linting and other tasks.

[2020-02-11 15:40] gkapfham commented on #5
Hi @lussierc when you are giving the demonstration, please try to do your best to ensure that you stress how it is possible to apply this tool to the creation of the tool we are building! Thanks!

[2020-02-11 15:41] gkapfham commented on #5
Hi @Cory-Wiard when you are referencing specific people, could I trouble you to please "at mention" them so that this will show up as a notification and they will know to participate in the discussion? Thanks!

[2020-02-11 15:42] MaddyKapfhammer commented on #7
I will add time for researching and listing dependencies at the beginning of the schedule. While tool teams are working on this, and preparing for their short demos, the project managers can work on starting to create a Travis CI build system for the project. Thank you for these recommendations @koscinskic @lussierc @gkapfham!

[2020-02-11 15:42] gkapfham commented on #4
Hi @cassidyt2 and @stephensonc could I trouble you to correctly use the Markdown syntax for the source code segments so that it is easy for everyone to read your comments? Thanks!

[2020-02-11 15:43] gkapfham commented on #7
Thanks @MaddyKapfhammer, your help is appreciated.

[2020-02-11 15:44] lussierc commented on #5
@gkapfham, thanks for the insights! I will do my best to emphasize how Streamlit could be used as we continue to develop Cogitate.

[2020-02-11 15:44] gkapfham commented on #3
Hi @WonjoonC can you please update as to whether or not you will be able to give a demonstration about the Pydriller tool? Thanks!

[2020-02-11 15:44] Cory-Wiard commented on #5
@gkapfham, I just updated the comment in order to fulfill that requirement and will be sure to do so every time in the future.

[2020-02-11 15:48] gkapfham commented on #2
Hi, I also wanted to point out that there are other tools that are also available, like this one:

[GitPython](https://github.com/gitpython-developers/GitPython)

Note that the developers of this tool acknowledge that there are some memory leaks in the system and thus it is not suitable for use on a long-running daemon. However, you should also consider using this and other packages if they have f

[2020-02-11 15:49] gkapfham commented on #1
Hi @spitalnyd I suggest that you create a checkbox for this issue and then apply the checks to all of the tasks that were, in fact, completed by the deadline. What is the overall view, is the team on track to give demonstrations by each technology by today?

[2020-02-11 16:00] johnsc1 commented on #4
I pushed the commit for @cassidyt2 with the print statements and documentation he completed, in addition to the documentation I added to 'def get_repo_info( )' and print statements to a few other methods

[2020-02-11 16:02] johnsc1 commented on #4
I committed the documentation @cassidyt2 completed, along with the documentation I added to 'get_repo_info( )' and print statements in several other methods

[2020-02-11 16:03] johnsc1 commented on #4
I closed the issue by accident so I am reopening it. I apologize for any confusion.

[2020-02-11 16:05] johnsc1 commented on #4
I closed the issue by accident. I apologize for any confusion.

[2020-02-11 16:30] santacruzm commented on #2
@gkapfham Consider the previous conversation on the Issue Tracker on the fact that the username and password method is not very reliable. I thought perhaps GitHub Enterprise could become a potential tool we can use on the project.

[2020-02-11 16:48] johnsc1 commented on #4
I reformatted the comments in demo.py. I can make further changes to them if necessary.

[2020-02-11 17:14] WonjoonC commented on #3
Yes, I have class conflict, but I can try to get out of my previous class earlier. If our team could demonstrate last I should be able to be there. I was preoccupied this morning, but I will be there to work with them soon before 1:30.

[2020-02-11 17:19] munzekm commented on #3
@declanjcasey I added the important features about Pydriller and how we can use it toward our project. I added this in our README file.

[2020-02-11 17:45] johnsc1 commented on #7
@WonjoonC @santacruzm Could you please comment a list of your team's tools/dependencies? There will be a few minutes at the beginning of lab to do this, but it can also be done before lab.

[2020-02-11 17:46] koscinskic commented on #8
After meeting with the other project managers, we've determined that the research teams were temporary whereas the feature / task teams will be better developed to support operations for the rest of the project's duration. Consequentially, we did not find that the lack of a project manager with knowledge of Pydriller is a significant problem. However, If there are questions concerning the tool, fe

[2020-02-11 17:46] #8 closed

[2020-02-11 17:48] johnsc1 commented on #1
If you would like to propose objectives/deadlines moving forward, please open an issue in the project-manager-info repo !

[2020-02-11 17:48] #1 closed

[2020-02-11 17:50] koscinskic commented on #9
We've developed a schedule system on the project_manager_info repository (link will be provided in this repository's README) to coordinate when pull requests should be made and for what features. Having said, for this particular issue, we'll be deciding during our lab today what to do regarding the demos.

[2020-02-11 17:50] #9 closed

[2020-02-11 18:17] declanjcasey opened #10 "Issues with PyDriller"
We've been having some issues getting PyDriller running, we've even tried reusing example code from readthedocs but for some reason PyDriller isn't being recognized as a module to be imported, this hasn't been an issue for examples online. Some members are having trouble with the tool and how it interacts with pipenv and pyenv commands, so we are beginning to think PyDriller may be to difficult to

[2020-02-11 18:25] declanjcasey commented on #10
Just to add, sorry for the short notice, we had one issue over the weekend we thought was simple enough to fix by lab today, and new problems have begun to pop up since yesterday

[2020-02-11 18:38] noorbuchi commented on #10
@declanjcasey can you please paste the error message that you get when trying to rin the program.

[2020-02-11 18:42] noorbuchi commented on #10
@declanjcasey after looking at the pipfile in your repo, I suggest moving the packages in the [packages] section to the [dev-packages] then running `pip install pipenv --user` and `pipenv install --dev` in the main directory where the pipfile is. Please let me know if that works.

[2020-02-11 18:43] declanjcasey commented on #10
Well we're having a couple different ones depending on what we want to do, when trying to remotely clone a repo rather than import it, I get:
Traceback (most recent call last):
  File "PyDriller-Demo.py", line 8, in <module>
    for commit in RepositoryMining("code/demo").traverse_commits():
  File "/Users/dcasey/.local/share/virtualenvs/cogitate_tool-wUX9pCS3/lib/python3.7/site-packages/pydriller

[2020-02-11 18:46] noorbuchi commented on #10
I'm not sure what is causing this issue. Does cloning the repo on a different machine work?

[2020-02-11 18:48] declanjcasey commented on #10
No, it hasn't worked for any of us so far

[2020-02-11 18:48] WonjoonC commented on #10
I've had the same issue on a Windows 10 OS.

[2020-02-11 18:48] schultzh commented on #10
Could you please us backticks when copy and pasting code/error messages? It will make it easier to read and easier for us to help solve the issue.

[2020-02-11 18:50] declanjcasey commented on #10
We'll still be able to show what working code _should_ look like and discuss it, the functionality is just not there, maybe we can discuss more in depth in our lab session?

[2020-02-11 18:51] WonjoonC commented on #10
[code]

[2020-02-11 18:53] noorbuchi commented on #10
I'll try to run the code on my end after checking out the branch. Do you just use the command `pipenv run python filename.py`?

[2020-02-11 18:54] hinckleyc commented on #10
Yes, that is what we used.

[2020-02-11 18:58] noorbuchi commented on #10
Thank @hinckleyc ! I managed to switch to the branch. Which file do you usually run as there are three of them?

[2020-02-11 19:00] santacruzm commented on #2
I implemented a link with further documentation on PyGitHub. You can find the changes here: [Documentation](https://github.com/GatorCogitate/cogitate_tool/commit/1e722bd178c9fe0a4505a91598ce108d714e6149)

[2020-02-11 19:01] declanjcasey commented on #10
The code to be run for the demo is PyDriller-Demo.py

[2020-02-11 19:01] declanjcasey commented on #10
The Repository mining program was added because the import doesn't work and can't import the class, so we tried cloning it but to no avail

[2020-02-11 19:06] noorbuchi commented on #10
List of errors I got when running each file:

- When running `demo.py`
[code]

- When running `PyDriller-Demo.py`
[code]

- When running `RepositoryMining.py` I got no error message but I also didn't get any output

[2020-02-11 19:08] declanjcasey commented on #10
Yeah, so the only program that is supposed to be run for the demo is PyDriller-Demo.py. The demo.py is code we were originally going to demonstrate PyDriller's methods on, and RepoitoryMining.py shouldn't have output

[2020-02-11 19:10] declanjcasey commented on #10
Some of the code in PyDriller-Demo shouldn't be working at the moment because we made it generic for demonstration purposes after the fact. The error for PyDriller-Demo is where we are having trouble, that Repo() method should be imported from the pydriller package which is not working

[2020-02-11 19:12] noorbuchi commented on #10
I managed to remove that error by adding `from git import Repo` at the top but I faced directory error due to the wrong directory when initiating the variable repo.

[2020-02-11 19:15] declanjcasey commented on #10
I would pull if I were you, I think our code has changed because I don't see that variable anymore, maybe we should just talk in person, it's a bit tough to keep going back and forth

[2020-02-11 19:19] noorbuchi commented on #10
Ok sounds good! I'm on my way to Alden

[2020-02-11 21:01] Cory-Wiard opened #11 "Building and Testing Features"
This issue is used for Team Building and Testing to discuss features to create. In addition to discuss any changes, additions, or updates to the feature as we go.

[2020-02-11 21:08] MaddyKapfhammer opened #12 "Individual Metrics Features"
- How many lines of code an individual added/deleted
- Number of commits per individual
- Number of comments written by an individual (in the code base)
- How many files an individual added/deleted

(emphasis on first two for demo on 2/18/2020)

[2020-02-11 21:13] lussierc commented on #11
The three main questions are team were presented with are as follows:
1. Are there team members who contribute to source code without also adding test cases?
2. Or team members who only write test cases?
3. Are there team members who break the build or contribute to unusually high code churn?

Our team will focus on the second question to start, then use some of that work and knowledge gained to t

[2020-02-11 21:16] johnsc1 opened #13 "Team Interactions Features"
This issue is to track the discussion of features for the Team Interactions group.

[2020-02-11 21:18] johnsc1 commented on #13
We can also make our schedules and goals here

[2020-02-11 21:24] cklima616 commented on #13
By next week:
1. Define method to retrieve user input from terminal to define an "average" or "base" level of commits.
2. Define a similar method on Streamlit.
3. Define a method to retrieve branches in a repo.
4. Define a method to retrieve usernames from branches.
(Figure out whether PyGithub or PyDriller is more useful for 3&4.)

[2020-02-11 22:39] koscinskic opened #14 "Overall Evaluation Features"
A rough outline of this week's upcoming features and ideal deadlines:

**Features & Tasks**

* Aggregate individual commit data and assess the individual's percentage of commits both by numeric count and lines altered
* Assess quantity of opened issues, pull requests, conversation threads, and general non-commit contributions
* Analyse previous metrics to determine an individual's overall contribu

[2020-02-11 22:40] koscinskic commented on #14
Feel free to bring up any corrections and new developments in this issue.

[2020-02-11 22:41] koscinskic commented on #14
We can also discuss sub-issues and individual feature assignments here so we can split the work as evenly as possible.

[2020-02-12 01:27] johnsc1 commented on #13
@cklima616 I will add those goals to a markdown document. Did we have ideas for any goals for the rest of the project?

[2020-02-12 02:05] santacruzm commented on #13
Firstly, I want to make sure that I understand correctly our feature...the goal here is to create a feature that gathers the data collected by Individual Metrics team for comparison.

[2020-02-12 02:06] johnsc1 commented on #13
Yes, that is our goal.

[2020-02-12 02:40] liux2 commented on #13
We can research on a command-line interface that we can use, the professor suggested that after everyone left last time. We can probably consider the trade-offs and decide whether it is a good idea. Also, for now, we have two options for interface, command-line, and streamlit.  Once the API standard is determined, we can start to implement streamlit?

[2020-02-12 02:52] spitalnyd commented on #5
This topic has been fully researched and will be close

[2020-02-12 02:52] #5 closed

[2020-02-12 03:00] spitalnyd commented on #11
![Screen Shot 2020-02-11 at 21 58 17](https://user-images.githubusercontent.com/25254679/74299156-cf8f0800-4d19-11ea-943c-1717d24400cb.png)

[2020-02-12 03:31] liux2 commented on #13
[Example of CLI for Python Projects](https://codeburst.io/building-beautiful-command-line-interfaces-with-python-26c7e1bb54df)

[2020-02-12 18:10] koscinskic opened #15 "Software Architecture Planning"
I've opened this issue for the software architecture leaders of each team so we can discuss how to proceed in the future when integrating our individual features into the repository.

Currently, the only standards I would like to set forth are to organize the highest-level functions and methods by this format:

[code]

At the very least, if we can agree to keeping our input and output values as pr

[2020-02-12 18:12] koscinskic commented on #15
Moving forward, we should decide here on how we are going to localize and store data. I've had a good amount of experience with anything pertaining to .csv files, but .json files are a more popular standard. Anyone have any alternative suggestions / thoughts?

[2020-02-12 20:47] carmop commented on #15
I talked to the TAs after class yesterday and we've thought that .json would be better. But it also depends on the tools we are using, I have not looked at PyDriller and PyGitHub but if they give us data in .json format it would be better to just keep it as .json. That being said I do not have a lot of experience with either.

[2020-02-12 20:48] johnsc1 commented on #13
I added the first two weeks of the schedule to ProjectSchedule.md! We still need to add more ideas for features regarding the second questions, "Are there individuals who collaborate together too frequently or not enough?".

Yesterday in lab when we discussed the second question, we talked about tracking if specific people worked in the same branch or on the same files often. We could track areas

[2020-02-12 21:11] liux2 commented on #13
I think for the second question, we can use exhaustion to list the people by pairs. And if two people worked together in a branch, then we count one.

[2020-02-13 02:19] schultzh opened #16 "Add Travis CI Configuration"
I will be setting up a Travis CI configuration for this repository using [this tutorial](https://docs.travis-ci.com/user/tutorial/) and GatorGrader as an example.

[2020-02-13 02:22] johnsc1 commented on #13
The ProjectSchedule.md file is tentatively complete! Please add any suggestions for edits here, preferably before midnight tonight. @liux2 I added the command-line interface research and pairing people to analyze collaboration to the plan for creating features!

[2020-02-13 04:17] liux2 commented on #13
@johnsc1 Thank you!

[2020-02-13 04:41] mcnultycollin commented on #15
https://blog.datafiniti.co/4-reasons-you-should-use-json-instead-of-csv-2cac362f1943
^ this points to using json.

Also, considering the lecture in class today about using Python as Object-Oriented, Procedural, or Functional, should we consider picking one of those as our guiding principle for the project? Maybe that goes without saying.

[2020-02-13 16:07] Cory-Wiard commented on #11
Reminder team meeting today @6 in Alden. @lussierc @spitalnyd @ABaldeosinghASC @wilsonj24 @TylerPham2000

[2020-02-13 16:43] schultzh commented on #16
This issue is connected to branch `Enhancement/travis-ci-config`.

[2020-02-13 17:00] koscinskic commented on #15
OOP would give us the tools to easily define and isolate each team's work, thus making integration easier in the future. We can see how each team develops their features this week and look into classifying multiple features into modules to streamline data transfer.

[2020-02-13 20:11] santacruzm commented on #7
@johnsc1 It is my understanding that the dev packages for PyGitHub are similar to what Noor provided earlier. This is considering that [PyGithub](https://pygithub.readthedocs.io/en/latest/introduction.html) is a Python library to use the [Github API v3](https://developer.github.com/v3/).

[2020-02-13 20:25] MaddyKapfhammer commented on #7
@santacruzm Thank you very much for providing this information for us! We will add it to our project wide files, as we create them!

[2020-02-13 23:12] lussierc commented on #15
I would recommend using OOP as well, especially since that is the standard for previous CS classes here at Allegheny.

I have a little bit of experience with `.json` from an independent study I had last year and think it would work well for what we are trying to do and would probably recommend that, but I feel we could make `.csv` work well too. There are a number of packages we could use to inter

[2020-02-14 03:14] noorbuchi opened #18 ".gitignore file needed"
As of creating this issue tracker, there hasn't been a `.gitignore` file created to avoid committing unintended files into the repository. I think that having one is necessary to prevent unnecessary files from overcrowding the repository. I suggest that we add one similar to the standard one present in our GitHub classroom repositories.

[2020-02-14 03:24] carmop commented on #18
I agree, I have added one to the team-interactions branch but we should have one in the main branch of the repo.

[2020-02-14 16:38] lussierc commented on #11
After last night's meeting, it seems that the major thing we need to figure out is the directory's of the files being modified. This will allow us to find out what commits are modifying the `tests` directory and we can then figure out who "only writes test cases".

I made a simple program yesterday using PyDriller that shows the commit author name and the files they modified.

Here is the partial

[2020-02-14 20:38] johnsc1 opened #19 "Team Interactions - Basic CLI Demo"
This is the issue for Team Interactions Week 1 Demo - Basic Command Line Interface!
These are the links @liux2 added our team's general issue:
https://codeburst.io/building-beautiful-command-line-interfaces-with-python-26c7e1bb54df
https://docs.python-guide.org/scenarios/cli/

**We are now using Click to create the CLI.** [Here](https://click.palletsprojects.com/en/7.x/#documentation) is the Click

[2020-02-15 19:34] koscinskic commented on #15
Here is what I would like to propose we use a standardized .json format:

Key: Tuple ( List , List , List )
where each var represents the following:
GithubID / User : ( Commit List , Issue List , PR List )

I have not extensively looked at the commit objects for either PyGithub or PyDriller (Assuming they exist, otherwise we could create our own object), but I'm assuming those objects (Should they

[2020-02-15 19:37] #16 closed

[2020-02-15 19:49] MaddyKapfhammer commented on #18
I can work on creating a `.gitignore` file that can be merged to the master branch for future use, to ensure that each feature has a standard. Thank you for bringing this up @noorbuchi

[2020-02-15 19:51] #2 closed

[2020-02-15 19:51] #3 closed

[2020-02-15 19:51] #4 closed

[2020-02-15 19:55] #10 closed

[2020-02-16 01:26] liux2 commented on #19
# Here are some simple examples for Python fire.

## 1. Hello World

[code]

[code]

    Hello World!

**Or**

[code]

[code]

    Hello World!

So, the idea is to write different functions, and call the function from either terminal or main functions.

## 2. Grouping

Now, what if we want multiple functions, and even have a group of functions?

[code]

[code]

    30

[code]

    200

So, here th

[2020-02-16 19:20] bagashvilit commented on #12
@noorbuchi I just added demo for Pydriller. Right now the program is looping through the commits and printing how many lines of code the author added/deleted in each file. However, I am guessing that we need to show how many lines of code a person added/deleted in total, instead of in each file. Let me know if you find anything helpful.

[2020-02-16 19:35] noorbuchi commented on #12
@bagashvilit thank you, I will check your latest changes and let you know. In your experience so far, did you find Pydriller to more effective and easy to use than PyGithub for this specific feature?

[2020-02-16 19:52] bagashvilit commented on #12
I found Pydriller easier to use because here you don't have to generate a personal access token, which, I think, was a downside of PyGithub. Also, I just found out that to calculate some of the metrics Pydriller relies on [lizard](https://github.com/terryyin/lizard). I think its worth to look into that. What do you think of PyGithub?

[2020-02-16 20:17] hinckleyc opened #20 "overall-eval-analyzing-metrics"
Just making an issue for overall-eval-analyzing-metrics

[2020-02-16 20:17] cassidyt2 opened #21 "Upload demo/metrics file"

[2020-02-16 20:19] cassidyt2 commented on #21
File uploaded.

[2020-02-16 20:19] #21 closed

[2020-02-16 20:23] cassidyt2 opened #22 "Add documentation to metrics.py"
My metrics.py document  does not have documentation. I will start adding documentation later today, and if anyone else wants to help and can understand the code go ahead.

[2020-02-16 20:33] hinckleyc commented on #20
Declan is going to comment on standard deviation and commits calculator. Thomas is going to do total_team_score_calculator and the main method. I am going to work on the removed_calculator and the added_calculator

[2020-02-16 22:07] bagashvilit commented on #12
@noorbuchi and I have been discussing how to store the data that we obtain. Please let us know if you have any suggestions about what data structure to use.

[2020-02-16 22:47] mcnultycollin commented on #12
@bagashvilit to clarify your question, are you referring to what the return statement should contain? If so, we should use Tuples. Here is a formatting Guidelines from the Software Architecture group:

Key: Tuple ( List , List , List )
where each var represents the following:
GithubID / User : ( Commit List , Issue List , PR List ).

That doesn't quite match with what you're doing right now but in

[2020-02-16 22:48] mcnultycollin commented on #12
Additionally, @Jordan-A and @WonjoonC what is your status? I would like to move forward with PyGithub unless you have made progress since our last meeting.

[2020-02-16 23:10] noorbuchi commented on #12
@mcnultycollin I recently saw what you were referring to. It seems that this is a specific guideline is for storing the data into the .json file. We were referring to the temporary storing of the data in our Python module for processing before writing the complete data set into the .json file. Specifically using either a dictionary or a two-dimensional array. Thank you for pointing out some of the

[2020-02-16 23:10] Jordan-A commented on #12
I haven't been able to make progress using Pydriller. I think it would be better to move forward with PyGithub. I just tried running the commit code in our group branch and it won't run locally.

[2020-02-16 23:12] bagashvilit commented on #12
@Jordan-A Thanks for the update. I am also working with Pydriller, could you let us know what exactly is going wrong?

[2020-02-16 23:15] Jordan-A commented on #12
@bagashvilit  I get a traceback error from my pydriller file in my /python3.8 folder, and a "nosucherror" error.

[2020-02-16 23:24] bagashvilit commented on #12
@Jordan-A I just took a look at the `Pipfile` in your branch. One thing I would suggest is to add the necessary package there for Pydriller. Try doing something like this ```[dev-packages]
fastapi = "*"
uvicorn = "*"
black = "*"
pylint = "*"
flake8 = "*"
pydocstyle = "*"
pytest = "*"
PyGithub = "*"
pydriller = "*"
[code]

[2020-02-16 23:37] Jordan-A commented on #12
That made PyDriller work for me! I think the problem that I had was specifying the path to the repo. @bagashvilit How do you specify the path to the repository?

[2020-02-16 23:41] bagashvilit commented on #12
@Jordan-A Path would be locally on your computer. So something like this `/home/teona/Documents/CS203/labs/cogitate_tool/`

[2020-02-16 23:44] Jordan-A commented on #12
Ah I see! I was inputting the Github repository path, which is how it works with PyGithub. That would explain why I got a `no such path error` for PyDriller.

[2020-02-16 23:58] Jordan-A commented on #12
@mcnultycollin  What would you like to move forward with in terms of the demos?

[2020-02-17 01:37] MaddyKapfhammer opened #24 "Testing Guidelines"
As we continue working on completing this project, it would probably be beneficial to determine some guidelines for testing, as that should be one of our next steps. Perhaps we should discuss what level of coverage we would like to obtain for all of our tests (is 100% attainable)? and how our test suites should be organized? Does anyone have any input?

[2020-02-17 01:43] johnsc1 commented on #19
Based on the two articles in the top comment of this issue and this article, https://opensource.com/article/18/5/3-python-command-line-tools , I think the best command line tool we could use is click. It is the first CLI detailed in this article, and it is mentioned in the second article in the first comment. It seemed to address some of the limitations in other widely-used CLIs, plus it has great

[2020-02-17 01:54] noorbuchi commented on #12
@Jordan-A I just found out that you can use a URL of a repository to access its contents, however, using a URL would only display statistics for the master branch and not any other active or deleted past branch

[2020-02-17 02:15] liux2 commented on #19
I think Click is a pretty good one.

[2020-02-17 02:24] Jordan-A commented on #12
@noorbuchi Great find! But yes we may want to use an alternative method to allow us to analyze separate branches.

[2020-02-17 02:29] MaddyKapfhammer commented on #7
All of the dependencies have been added to a unified `Pipfile` in the 'Dependencies' branch along with `Pipfile.lock` and `.gitignore` files. Thank you to everyone who listed the dependencies necessary for this software engineering project.

[2020-02-17 02:31] noorbuchi commented on #12
@Jordan-A thank you! I've been looking through the Pydriller API and there seems to be a possible way to look into any specific branch but I haven't been able to get it to work. Please let me know if you find anything.

[2020-02-17 02:37] mcnultycollin commented on #12
@Jordan-A Lets meet tomorrow, I suspect we'll be able to incorporate both Pydriller and Pygithub. I am feeling pretty good about Pygithub but am open to Pydriller if you are having success with it.

[2020-02-17 02:38] Jordan-A commented on #12
@mcnultycollin Sounds great!

[2020-02-17 02:40] johnsc1 commented on #19
Ok! We can start working on creating the basic framework so methods can be added asap!

[2020-02-17 02:41] MaddyKapfhammer commented on #18
I have created a `.gitignore` file in the `Dependencies` branch, which when merged will be used universally for the entire software engineering project. Thank you to those who raised this issue.

[2020-02-17 02:41] #18 closed

[2020-02-17 02:48] noorbuchi commented on #18
@MaddyKapfhammer thank you for your work on the `.gitignore` file. Hopefully, a pull request will be created for the branch and the changes will be merged soon

[2020-02-17 03:20] johnsc1 commented on #24
I think we should strive to achieve the highest coverage possible but allow for a slight margin of error. I think about 97% is acceptable if that is the best we can achieve.

[2020-02-17 06:05] bagashvilit commented on #24
I think that for now, we can start with unit testing, and then implement integration/systems testing. However, I support other ways too.
I was also wondering, as for now, is it required to have a test suite to get the pull request merged?

[2020-02-17 06:26] bagashvilit opened #26 "Specifications of the project"
@gkapfham As a customer, would you like us to obtain data only from the `master` branch and ignore other active/inactive branches? This is something that we should discuss as a team, however, I believe that the customer's opinion would be helpful too.

[2020-02-17 13:48] hinckleyc commented on #20
How much documentation do you guys think we should put in the code? I don't know if we should document every if-statement or just comment on what the overall code does. Please let me know what you guys think is the best way to go about this.

[2020-02-17 13:55] MaddyKapfhammer commented on #26
@bagashvilit this is a great question! I think that perhaps it is most important to obtain data from the `master` branch, but collecting data from active branches may also be useful in certain situations. I say focus on the `master` branch for now. In lab tomorrow each team will have time to meet with the customer to ask questions, so you should definitely bring this up then and hopefully we will

[2020-02-17 13:58] MaddyKapfhammer commented on #24
@bagashvilit in the schedule that the project managers created for last week's lab session, we did include that you should have tests along with creating your PR by tonight at 11:59pm. These do not need to be extensive tests (as we will most likely add to them later) but just a few to ensure correctness in your code.

[2020-02-17 14:03] MaddyKapfhammer opened #27 "Individual Metrics-Questions for the Customer"
Tomorrow in our lab session our team will have the opportunity to meet with the customer in order to ask questions about our current features, and features that should/will still be developed or clarify anything that we do not currently have information on. Perhaps we could add some questions to ask the customer in comments of this issue so that we are prepared for our meeting tomorrow.

[2020-02-17 14:09] declanjcasey commented on #20
I kinda started documenting by whichever lines of code seemed to work together, so like I explained a whole while loop which was maybe 3 or four lines long and then commented on the next four or five lines. I would say it's up to you but aim for a comment every 4-6 lines as long as it makes sense.

[2020-02-17 14:12] declanjcasey commented on #14
Hey everyone, just wanted to check in on how we're doing regarding the pull request, Thomas, Caden, and I should be done documenting metrics.py by midnight tonight.

[2020-02-17 14:14] Cory-Wiard commented on #11
Reminder Team Meeting today @6 in alden @lussierc @spitalnyd @ABaldeosinghASC @wilsonj24 @TylerPham2000 @reid7danny

[2020-02-17 14:24] bagashvilit commented on #26
@MaddyKapfhammer Thank you for the response. I also think that for now we can focus on `master` branch.

[2020-02-17 16:13] noorbuchi commented on #26
@MaddyKapfhammer thank you for answering our question. @bagashvilit and I were having some difficulties gathering information from the repository. As of now, the program created doesn't just focus on the master branch, it also dismisses any merging of pull requests and does not count the lines added from the pull request. We are trying to find out whether this is a limitation of Pydriller and how

[2020-02-17 16:20] cassidyt2 commented on #14
I'm adding my documentation now, and may begin working on some preliminary test cases too!

[2020-02-17 16:22] schultzh commented on #27
Some questions I would suggest:

What data regarding lines of code would you like to see?
How would you like them to calculated?
Net/overall/should it include comments?

Any other thoughts team?

[2020-02-17 16:25] schultzh commented on #26
This would be a great question to ask in our allotted time with the customer in lab tomorrow!

@noorbuchi Could you expand what you mean by the program not focusing on just master? Does it also pull from branches?

[2020-02-17 16:26] bagashvilit commented on #24
@MaddyKapfhammer Thank you for the clarification

[2020-02-17 16:28] schultzh commented on #24
I think 100% coverage is possible, but allowing some leeway may be helpful in mitigating the
daunting task of code coverage.

I think in terms of designing a test suite we need to be able to create an organization separating tests into various files while also ensuring there are not repeat tests from multiple teams.

[2020-02-17 16:30] schultzh commented on #12
Great job collaborating on this issue team! Keep us updated on any solutions you develop!

[2020-02-17 16:35] bagashvilit commented on #24
So for tomorrow's demonstration should we create our own test files in our branches?

[2020-02-17 16:38] WonjoonC commented on #12
@Jordan-A @mcnultycollin @noorbuchi I think it might be ambitious to say, but it would be great to be able to use a URL of a repository using Pydriller, and somehow possibly travel through each branch using PyGitHub? As Collin stated earlier, I think it would be a good idea to incorporate both tools.

[2020-02-17 16:43] mcnultycollin commented on #12
@WonjoonC we can discuss this today, are you free at 4 pm? That is when we were tentatively going to work on our section of the Project.

[2020-02-17 16:53] declanjcasey commented on #14
Okay, I can probably help with some of the test cases during lunchtime if you need

[2020-02-17 17:19] cassidyt2 commented on #14
Sorry, just saw this! I've gotten the cases written, but when I run the test command I don't think pipenv and pytest can find the directory. I'll upload everything to github now - if you can figure it out I'd appreciate it but if not no worries!

[2020-02-17 17:20] cassidyt2 opened #28 "Test suite for overall metrics"
- I have written the test cases, but when I run the test command the virtual environment can't find my cases. If someone can help me with this I'd appreciate it!

[2020-02-17 17:45] declanjcasey commented on #14
Okay that's perfect, I'll take a look but I have an exam at 2:30 that I should probably be studying for.

[2020-02-17 17:50] MaddyKapfhammer commented on #24
@bagashvilit yes, if you could create your own test files in your branches that would be appreciated. They do not need to be extensive, just simple like the ones that we have been working on for our practical assignments.

[2020-02-17 18:01] declanjcasey commented on #28
Just to add on, this is the error message I get in my terminal:

[code]

[2020-02-17 18:02] lussierc commented on #11
I figured out how get the file paths from PyDriller by looking at the [documentation](https://pydriller.readthedocs.io/en/latest/modifications.html) on the attributes for `modified_file`. I found that we can use the attribute `new_path` to get the newest version of the file path from that commit.

Here is a sample output of our program with these updates:
[code]

[2020-02-17 18:05] Jordan-A commented on #27
@schultzh I like the questions that you came up with! I think it would be useful to ask if he wants to see the individual metrics for an entire repository, all of the branches, or both the repository and branches.

[2020-02-17 18:11] hinckleyc commented on #14
I don't know if anyone saw the slack message but Declan, Thomas and I should get together and work on the test cases because we need them for the demo. I can meet around 7 tonight or right after class but only for a little.

[2020-02-17 18:21] Cory-Wiard commented on #11
@lussierc Sweet! Looking forward to continue to progress this during our meeting tonight.

[2020-02-17 18:29] declanjcasey commented on #14
Okay, I'm free from about 4 to 6:30 but I think Thomas already finished a test case for each method, maybe we can try using coverage.py to get our code coverage up?

[2020-02-17 18:40] wilsonj24 commented on #11
@Cory-Wiard @lussierc I agree!

[2020-02-17 19:14] Cory-Wiard commented on #11
Make sure everyone pulls before looking at the code today @lussierc @spitalnyd @ABaldeosinghASC @wilsonj24 @reid7danny @TylerPham2000

[2020-02-17 19:39] gkapfham commented on #28
Hi @declanjcasey and @cassidyt2 I suggest that, at least for now, we think of ways to avoid using an underscore in the name of our modules. For instance, could we call this module `metrics`?

[2020-02-17 19:41] gkapfham commented on #27
These are all great questions @schultzh, I look forward to discussing them soon! It would also be great if others in the class, like @Jordan-A and @MaddyKapfhammer can think about what they would judge as being the most useful set of details to collect about this issue. Thanks!

Finally, if you would like, we can begin the discussion here. Alternatively, we can talk in person on Tuesday and then c

[2020-02-17 19:43] gkapfham commented on #26
I agree with @schultzh that we should primarily focusing on the content that is merged to the master branch. With that said, there is one follow-on idea that I have: it might also be useful to characterize how frequently/how much code/documentation/tests a person writes that _does not_ ultimately make it into the master branch. What do you think @bagashvilit and @MaddyKapfhammer and @noorbuchi and

[2020-02-17 19:54] cassidyt2 commented on #28
Yes, I will rename those files now Professor!

[2020-02-17 20:22] koscinskic commented on #24
Given the somewhat hasty nature of our organization, I don't believe we should ultimately be aiming for perfect code coverage. Having said, what we can achieve in our final product will become more apparent over time, but do we want to set a short-term goal for the time being? We could also integrate a Travis check that requires a certain amount of code coverage for the build to pass.

[2020-02-17 20:23] koscinskic commented on #20
To avoid red flags that reiterate the code itself, I'm only including comments concerning large general-purpose code blocks and any lines that are prone to change in the future. If we can agree to keep our variables fairly intuitive, it should cut down on the amount of necessary comments.

[2020-02-17 20:26] koscinskic commented on #15
It's a tad bit late to propose this, but with the project starting to come together, would we be able to have a meeting once or twice a week to address integration and structure concerns? We could discuss meeting further in Slack, but I figured I would address it here as once does not currently exist.

[2020-02-17 20:37] koscinskic opened #29 "Adjusting Repository Permissions"
Seeing as we're entering the stage of development where we're going to be opening and reviewing a lot of pull requests, we should configure the permissions to require a certain number of reviewers as well as restrict who has permission to execute the merge itself

[2020-02-17 20:46] koscinskic opened #30 "Improve Travis CI Configuration"
Based off of the feedback from the overall evaluation team, it appears as though we still need to implement the following features to ensure a comprehensive build:

- [x] Automated Linting and Formatting
- [x] Automated Code Coverage Check (Based on future expectation)
- [x] Automated PyTest Execution

I'm not aware of any specialized Travis team, but we should try to integrate these checks to pre

[2020-02-17 21:15] gkapfham commented on #24
Hi! At the start, I suggest that we aim to have tests for every module of the program and for every function in the program. After that, we can aim to create "stronger" test cases that cover all of the statements of the program. Finally, we can focus on trying to create "even stronger" tests that cover all of the branches of the program. Let me know if you have any further ideas! Finally @koscinsk

[2020-02-17 22:17] noorbuchi commented on #26
Thank you @gkapfham for your feedback! I will try to address your suggestion while making some clarifications which @schultzh has asked about in a previous comment. We put this question up as an issue tracker because we are currently facing some difficulties with Pydriller that limit the scope of the line-count feature. If we choose to focus on the master branch of a repository (the only way we've

[2020-02-17 23:18] MaddyKapfhammer commented on #29
I think that this is a great idea. Perhaps we could announce these requirements tomorrow during our annoucements section at the beginning of lab (considering that we devise these requirements tonight). I think that each of the project managers should be assigned as reviewers, and at least one TL and maybe some members of the team. Perhaps we should require approval from two project managers, one t

[2020-02-17 23:38] johnsc1 commented on #29
@MaddyKapfhammer I agree with your idea for who should review and who should approve!

[2020-02-17 23:43] schultzh commented on #30
I set up the Travis config originally so I can continue to add these things. Thanks for bringing them to my attention!

[2020-02-17 23:43] schultzh commented on #29
Sounds good to me!

[2020-02-17 23:47] MaddyKapfhammer commented on #30
@schultzh do you think that it is necessary to start a Travis CI team (comprised of members from each team like the Software Architecture team) to work on adding these things? Or are these easy decisions and checks that you and the project managers can manage?

[2020-02-17 23:54] schultzh commented on #30
I don't think a team is necessary. Once code cov and pytest are completed there should not be any other need to continue working in Travis CI.

[2020-02-18 00:02] koscinskic commented on #30
Another question regarding Travis:

The feature I'm currently working on involves creating a github object using a user token and accessing the repository in question via that object. All of the code in question requires that repository to function, as do the test cases. Currently, I'm passing the token in as part of the command line argument, so there are no security breaches. However, when Travi

[2020-02-18 00:13] schultzh commented on #30
Could you explain in greater detail how this is related to Travis CI configuration?

[2020-02-18 00:24] TylerPham2000 commented on #11
Some questions that we could ask tomorrow.
- What specific data would you like to see in terms of data shown in regards to test cases
- Are there any visual representations you  are specifically looking for
- What classifies as a test case

[2020-02-18 00:44] carmop commented on #29
Aren't the architects technically supposed to ensure the code is in the right format and the right standard? If so I believe one of the members of the software architects should also be included, maybe the one that belongs to the group originally or maybe just any of the four.

[2020-02-18 00:46] MaddyKapfhammer commented on #29
@carmop I think this is a great point! Maybe it would make the most sense to assign the architect from an individual's team to their pull request, and then we can add a software architects' review to the list of review requirements.

[2020-02-18 02:59] mcnultycollin commented on #15
I'm cool with that! If you want to suggest a time. My thursdays are the most open

[2020-02-18 04:40] hinckleyc commented on #20
I finished my comments. Thomas and Declan have you guys done the same? If so we should make a PR.

[2020-02-18 05:01] hinckleyc commented on #20
I just made a pr.

[2020-02-18 14:45] hinckleyc commented on #20
We have a problem with our Pipfile and Pipfile.lock. I am trying to figure it out but if you guys want to look at it and see if you know how to fix it.

[2020-02-18 15:41] lussierc commented on #24
I agree with the thoughts that while 100% code coverage is possible, that a little bit of leeway should be allowed, maybe in the area of 97%. It is important to consider that there are some lines that are hard to test, such as lines of code containing function calls. We should aim to continuously improve our test suite's coverage as we strive for 100% coverage.

[2020-02-18 17:51] spitalnyd commented on #30
I agree!! I feel like making a team might also further complicate things as well.

[2020-02-18 18:30] cassidyt2 commented on #20
I'll look into that now. I wasn't having any trouble with it in my local repo, but there might be issues now that it's been committed to GitHub. What are the error messages you're receiving?

[2020-02-18 19:09] lussierc commented on #11
Another question for the customer:

- How do we determine what the tests are? Have the user enter the path of their test cases?

[2020-02-18 19:27] MaddyKapfhammer commented on #29
I have created a file in the `project_managers_info` repository named `Guidelines.md` which states the requirements for reviews as approval (before merging) from:
- 1 project manager
- 1 TL
- The software architect from your team
- 1 other team member (not architect or manager)

I also changed the requirements for PR approval to require 4 approvals before a PR can be merged for our `cogitate_tool`

[2020-02-18 19:27] #29 closed

[2020-02-18 20:16] Cory-Wiard commented on #11
@lussierc @spitalnyd @wilsonj24 @TylerPham2000 @ABaldeosinghASC @reid7danny
Additions to add to the feature still:
- Look for a specific person's commits
- Look for a specific location rather than just "tests"
Anything else?

[2020-02-18 20:57] koscinskic commented on #15
Let's look to meet at 3:00 PM this Thursday in Alden. I'll see if I can get a hold of some people from Project Management and Evaluation so we can iron out the structure in one meeting.

[2020-02-18 20:58] Jordan-A commented on #27
Q & A Customer Transcript:

Question 1 - What data regarding lines of code specifically?
A: Partly what we have
- lines changed
- lines added
- lines deleted.
- Breakdown by file type. 10 lines of python, 10 lines of markdown code

- Lines changed counted as deletion and addition of code. Correct. If there's no way to report changed lines, it's okay to stick with lines added/deleted. Clarify this

[2020-02-18 22:04] schultzh commented on #22
I would not make documentation a priority at this time. Everything else in your branch looks good. We will be creating documentation for the tool as a whole later on. For these reasons, I am going to close this issue. Thanks for all your hard work!

[2020-02-18 22:04] #22 closed

[2020-02-18 22:07] MaddyKapfhammer commented on #26
It seems that this issue was addressed during the `Individual Metrics` team meeting with the customer today. The customer has stated that though this is a complex issue, he believes that information from the `master` branch is the most important to obtain. The `Individual Metrics` team is going to first create features that depend on the `master` branch, and will extend this to other branches if t

[2020-02-18 22:07] #26 closed

[2020-02-18 22:08] MaddyKapfhammer commented on #28
@cassidyt2 @declanjcasey are you both still having issues with running test commands?

[2020-02-19 01:50] noorbuchi commented on #7
@MaddyKapfhammer While I was running my test cases, I noticed that we are missing the `pytest-cov` dependency needed to calculate the coverage of the test cases. I am reopening this issue to request a change to our current dependency list in the master branch Pipfile and add `pytest-cov`. Please let me know if this is not the appropriate issue tracker to bring this up, in that case, I will raise a

[2020-02-19 01:53] Lancasterwu opened #38 "Missing Templates For Issues And PRs"
This Issue is a bad example of raising issues. :hurtrealbad: :hurtrealbad: :hurtrealbad: :hurtrealbad:

Following links can be helpful for contributing this project:

[Creating a pull request template for your repository](https://help.github.com/en/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository)

[Configuring issue templates for your repository](https://hel

[2020-02-19 01:54] noorbuchi commented on #7
I would also like to suggest that we add the cover script file that allows the Pytest plugin to run using the simple command `pipenv run cover`

[2020-02-19 02:10] carmop commented on #38
Ah, classic Lancaster

[2020-02-19 17:44] schultzh commented on #30
I will be away from campus on and off for the next few days and will not have time to work on this issue in detail. @spitalnyd Would you or anyone in your team be willing to take this on?

[2020-02-19 18:19] spitalnyd commented on #30
Of course I or one my team members can try to figure something out in our meeting tomorrow! We might need some details on things you were working on so we can get idea to help you out!

[2020-02-19 18:19] spitalnyd commented on #30
Of course I or one my team members can try to figure something out in our meeting tomorrow! We might need some details on things you were working on so we can get idea to help you out!

[2020-02-19 18:40] MaddyKapfhammer commented on #38
@Lancasterwu thank you for raising this issue to help us with our formatting of issues and PRs! I have added these links to the `Guidelines.md` file in the `project_managers_info` repository. Here is the [link](https://github.com/GatorCogitate/project_manager_info/blob/master/Guidelines.md). The project managers will also discuss creating guidelines for these areas through GitHub.

[2020-02-19 18:40] #38 closed

[2020-02-19 18:45] MaddyKapfhammer commented on #7
@noorbuchi thank you for bringing up this issue. I will work on updating dependencies to deal with these problems. I also will be working on adding the dependencies from each branch's `Pipfile` and `Pipfile.lock` so that these can be removed before merging to the `master` branch.

[2020-02-19 18:56] spitalnyd commented on #11
Make sure tomorrow we start to document the readme file and start to do code reviews o the feature already made for the most part

[2020-02-19 19:01] ABaldeosinghASC commented on #11
I think tomorrow we should also start figuring out how we are going to integrate this with the other group's code.

[2020-02-19 19:04] spitalnyd commented on #11
That was an excellent point made by our colleague!!!

[2020-02-19 19:05] Cory-Wiard commented on #11
@spitalnyd @ABaldeosinghASC Before we do that, we should finish our first feature

[2020-02-19 19:08] spitalnyd commented on #11
Another excellent point made by our colleague!!!

[2020-02-19 23:21] WonjoonC commented on #12
We have been able to incorporate number of commits into the Individual-Metrics-Lines. Our problem that we are facing is duplicates of authors. We are currently looking for ways to solve this issue. Any help would be appreciated.

[2020-02-19 23:21] Jordan-A commented on #12
One piece of feedback from the PR suggested that we standardize how we print out the table.  Some of the tools that was suggested to us was tabulate and pretty table. Let's try these tools and decide what direction we want to go.

[2020-02-19 23:35] enpuyou commented on #30
@spitalnyd This will be the top priority now since none of the other PRs can be merged without Travis CI being correctly set up. I think what @schultzh have are good, all you need to do is to change some of the paths so that they are pointing at the right place.

@koscinskic I don't think to make an account solely for the test is a good approach. And if all the codes/functions require access to th

[2020-02-20 16:25] schultzh commented on #30
@spitalnyd Thanks!! Yes, @enpuyou pointed out that all that needs done is adding paths. I waited to do this step because the software arc team has not yet standardized the structure and so there are no folders to create a path with. And if you look in the current Travis build for the PR you can see what else needs to be added in order to finish.

[2020-02-20 19:15] liux2 commented on #19
According to [Python Doc](https://docs.python-guide.org/writing/structure/), I think we should structure our repo as follows:

[code]

Also, the license is based on the open-source projects we used in our project.

[2020-02-20 19:50] koscinskic commented on #30
Since you can't create a repository object without a token, it doesn't particular matter how well you control information leakage since the token would have been required at _some_ point in order to make said repository object. Having said, I'm not particular concerned about information leakage, so I would propose following through on the environment variable solution.

[2020-02-20 19:51] liux2 commented on #19
Just pushed it.

[2020-02-20 19:52] koscinskic commented on #30
I merely proposed making an account so it wouldn't have to be our token that we encrypt in the environment variables.

[2020-02-20 21:42] mcnultycollin commented on #12
Hello!
Two things i'm hoping to discuss in our meeting today.
1. I would like to discover the logic behind the total_lines variable in our count_code_lines.py, and whether this has application or not.
2. I believe we should discuss creating a tool to evaluate an Individual metrics score, similar to how group metrics presented.

I met with the Architects group and for this upcoming Tuesday, groups

[2020-02-20 21:56] MaddyKapfhammer commented on #12
Hello Everyone!

Here is rough schedule for our meeting today that I would like to follow!

1. Update on feature progress (Are there any problems? or possible issues?)
2. Review input from the customer from lab session on Tuesday (Thanks @Jordan-A for recording what was said)
3. What would we like to add to our current features or remove from our current features?
4. Would we like to create any ne

[2020-02-20 22:31] Jordan-A commented on #12
Meeting transcript:
1: Small issues?
- Duplication of user names, when you analyze a repository. Pushing from different computers creates new "authors".
- We can use emails instead of user names.
2: Transcript Review.
- Keep branches open. Working on one branch instead of two.
- Using "Individual-Metrics-Lines"
        - Has commits, lines added/deleted, and total.
Total vs net lines?
- We could c

[2020-02-20 23:30] liux2 commented on #19
At this point, I think we should just use `argparse`, it has everything we need, and it is very easy to implement.

[2020-02-21 01:21] koscinskic commented on #15
It has been quite a while since this issue was opened, but I did originally determine that each method should have an associated Fast-API call attached to it. Seeing as the package has not been a topic of discussion for quite a while, are we going to proceed with an implementation involving Fast-API, or is it no longer necessary?

[2020-02-21 02:13] koscinskic commented on #24
Moving forward with the project, one way to effectively address code coverage as well as rectifying the hasty organization I mentioned previously would be to partially dissolve the old teams and create new groups dedicated to feature integration and test cases on the integration. I mentioned the concept of poor organization due to the fact that our feature-focused team structure has resulted in mu

[2020-02-21 03:00] carmop commented on #15
Hey guys, so I stayed in the lab and worked on a way to gather a lot of commit data from pydriller and organize it with the help of the TAs. After a whole lot of trying stuff out we figure out that converting pydriller data straight to .json is almost impossible bc of the way that the Commit object was defined by the people that made pydriller. So instead I wrote some code that unpacks a lot of th

[2020-02-21 03:02] bagashvilit commented on #12
I have been researching the difference between the author and the committer on GitHub, and how it can be applied to our project. So basically the author is the person who wrote the code and the committer is the one who actually committed that code on behalf of the author. This ensures that both the author and the committer get credit. For more info please see the [link](https://stackoverflow.com/q

[2020-02-21 03:32] bagashvilit commented on #12
I looked into Pydriller API and instead of obtaining data about `committer`, I got it about `author`. I gave the path for our previous project `Assessment Guidelines` and I think it includes people who merged the pull request too. I would recommend trying both `author = commit.author.name` and `author = commit.committer.name` and see the difference.

[2020-02-21 03:52] schultzh commented on #30
@koscinskic If you would like to continue this discussion regarding informations leakage, tokens, and creating a GitHub account, could you please move it to another issue as it does not directly correlate to the configuration of Travis CI. Thanks!!

[2020-02-21 03:59] koscinskic commented on #30
The problem here is that we want the token to be added to the Travis environmental variables, which I would think is part of the configuration unless it's done through the actual Travis tool online.

[2020-02-21 06:48] noorbuchi commented on #7
@MaddyKapfhammer thank you for updating the dependencies. Can you please add `PrettyTable` to the list as well since we used it in the individual metrics branch to print out organized tables.

[2020-02-21 13:51] MaddyKapfhammer commented on #28
It seems that this issue has been solved, and thus I will close it for now. If any other testing issues arise please reopen this issue or create a new one!

[2020-02-21 13:51] #28 closed

[2020-02-21 13:52] MaddyKapfhammer commented on #7
@noorbuchi yes! I can add `PrettyTable` to the dependencies! Thank you for letting me know about this addition, if you have any others I can add those as well.

[2020-02-21 13:54] MaddyKapfhammer commented on #24
@koscinskic I think that creating new teams could be beneficial, and maybe something that the project managers should discuss in more detail in person. Perhaps it would be helpful to not completely dissolve our teams, but rather just reassign them to work on different tasks, as we already have familiarity working with each other, and slack groups etc. This could prevent even more confusion within

[2020-02-21 13:57] MaddyKapfhammer commented on #12
Since we are using only one of our branches now, do you think that it is appropriate to close the PR for `Individual-Metrics-Commits`? I think that we should keep the branch open, but as we will not merge it to `master` I think that we should close the currently open PR. Does anyone else have any input on this?

[2020-02-21 14:08] munzekm commented on #12
@MaddyKapfhammer I think that is a good idea just so we do not get confused or anyone else gets confused.

[2020-02-21 16:06] mcnultycollin commented on #15
nice! Which branch is this code in? I would be interested in checking it out.

[2020-02-21 18:13] carmop commented on #15
It is on team-interactions-basic-CLI. most the code there is for the CLI my group is working but since there is no architect branch i pushed it there, it is on src/data_collection.py

[2020-02-21 18:14] carmop commented on #15
I am reading about mongoDB because it might be the best way to make that data available for everyone to use so if I manage to integrate that I think it should be merged to the master-branch

[2020-02-23 21:10] koscinskic commented on #24
That could definitely work. Perhaps we could have a joint meeting with software architecture to reassign team members?

[2020-02-23 21:13] koscinskic commented on #15
How smooth do you think the transition to mongoDB will be, and do you believe it's necessary to switch? We had formerly proposed that all teams had their functions working with the .json format by the end of the lab week, so unless not much needs to be changed on the mining / processing end, this transition could be expensive in terms of time.

[2020-02-23 21:14] koscinskic commented on #15
I suppose it does depend on how well everyone has made their modules conform to a parameterized fashion...

[2020-02-23 21:30] noorbuchi commented on #12
Hi everyone! I've been working on fixing the duplicate username issue we've been facing and unfortunately, the problem is much more complex than any of us anticipated. Considering that duplication does not occur according to one specific pattern, it is extremely difficult to introduce a fix to every possible reason for duplication. To clarify this, I provided the output of the program I'm working

[2020-02-23 22:50] WonjoonC commented on #12
@noorbuchi I personally think that tackling what we can for the duplicate problem using Pydriller and getting majority of the duplicates would be good enough with proper documentation explaining this issue. While this would be an annoying "bug" to encounter, I feel that researching PyGitHub and refactoring our program would take too much time and risk. This doesn't necessarily mean to completely t

[2020-02-23 22:56] Jordan-A commented on #12
@WonjoonC I'm thinking similar thoughts as @WonjoonC. For this week I think it would make sense to do what we can without refactoring the program. Next week we can chose whether or not to refactor our program to solve this issue.

As a side not @mcnultycollin and I are working on our task tonight and we'll update you on what we find! 😎

[2020-02-24 00:09] mcnultycollin commented on #15
I am not especially familiar with mongo, but have heard good things. Would it just interact with the JSON file post-processing? If so, I imagine that it wouldn't be too difficult to implement.

[2020-02-24 00:40] MaddyKapfhammer commented on #24
@koscinskic I think that this is something that we should discuss further in person tomorrow at our project managers meeting and go from there, and possibly meet with software architecture if we deem it necessary.

[2020-02-24 00:45] MaddyKapfhammer commented on #12
It seems like you all are making great progress, even if it is just in discovering more issues that we are currently having. Thank you for your very detailed description @noorbuchi, I agree with @WonjoonC and @Jordan-A that switching to using `PyGithub` could be dangerous, considering how much progress we have made using `PyDriller`. Perhaps this is an issue that we could discuss with Dr. Kapfhamm

[2020-02-24 00:58] MaddyKapfhammer commented on #7
I have added the `pytest-cov` and `PrettyTable` dependencies to the `Pipfile` and updated the `Pipfile.lock` in a new branch called `New_dependencies`. I will leave this branch open, to continue updating it as necessary.

[2020-02-24 01:05] MaddyKapfhammer commented on #7
I have also updated the dependencies in the `New_dependencies` branch to include everything in current branches. I believe that before merging features to `master` each branch should remove their `Pipfile` and `Pipfile.lock` to prevent merge conflicts. Does anyone have any opinions on this idea?

[2020-02-24 01:31] mcnultycollin commented on #12
Hello, we are not currently having success pulling lines changed with pydriller. Using file.change_type.name is a way to determine whether lines are being added, deleted or modified,
but there doesn't seem to be a good way to add this to the dictionary that I'm aware of.
For some reason, attempting to add if to the dictionary gives me this error
[code]
Even though I have added the extra index spac

[2020-02-24 01:50] koscinskic commented on #15
Figured I would drop the structure we determined the other day in this issue. The PR for this structure is [here](https://github.com/GatorCogitate/cogitate_tool/pull/39).

cogitate_tool
| - data
|   | - contributor_data.json
| - tests
|   | - test_feature1_test.py
|   | - test_feature2_test.py
|   | - test_json-handler.py
| - src
|   | - json_handler.py
|   | - menu.py
|   | - miner.py
|   | - pro

[2020-02-24 02:00] noorbuchi commented on #12
@mcnultycollin this is an issue in regards to the table and not pydriller, you can solve it by adding another item to the list responsible for setting the headers of the table

[2020-02-24 02:09] bagashvilit commented on #12
Just a quick note, I created a separate file `print_table.py` in `src`, if you need to call any method and print the data, please refer to that file. I made this modification because `count_code_lines.py` is technically not supposed to be printing out data, and we are just doing it for demonstration purposes, please let me know if anyone has any suggestion

[2020-02-24 02:12] Jordan-A commented on #12
Thanks for the advice @noorbuchi ! Great idea to move the print function to a different file @bagashvilit .

[2020-02-24 03:48] mcnultycollin commented on #12
@noorbuchi Could you please specify which part of the code you're referring to? I believe I have already attempted this. (We can discuss in class tomorrow)

[2020-02-24 15:51] carmop commented on #15
So the idea after I did some research is to have the mongoDB as a way to easily query the json file because other wise we would not have an easy way to get specific info out of it. However I am still looking into how that is going to work, some other colleagues have told me that SQLite might do the queries better

[2020-02-24 16:15] schultzh commented on #7
@MaddyKapfhammer I think that is a very effective course of action to deal potential merge conflicts for the many piffles currently being used.

[2020-02-24 16:27] cassidyt2 opened #40 "overall-eval-analyzing-metrics CLI for metrics.py"
the overall-eval-analyzing-metrics branch needs to use the python argparse package to develop a Command Line Interface (CLI) for tomorrow's demo.

Goals:
- learn the basics of how the argparse package works,
- generate a format for the required tags and arguments
- design and implement a function to take and return user arguments
- integrate the returned argument values into the __main__

[2020-02-24 22:01] mcnultycollin commented on #12
Hi all, I have just pushed the modify method.

I have found a way to get lines modified for each author. Take a look at this code when you can, this format is built so that other keys can be added easily, such as the counter for added and deleted lines. This is because the dictionary does not have pre-defined keys.
Currently, I have not integrated the method into the print_lines.py and have simply

[2020-02-24 22:57] johnsc1 commented on #19
Now that argparse has been implemented, I will be working on our feature to identify code hoarders as well as testing that feature. Please let me know if I can help with anything else!

[2020-02-24 23:03] lussierc commented on #11
Questions for customer tomorrow:
1. Local path or online repository link?
2. How to determine who breaks the build? Is it feasible?

[2020-02-24 23:49] lussierc commented on #7
@MaddyKapfhammer I agree with this idea. Teams should communicate their needed dependencies and remove their personal `Pipfiles` in order to avoid conflicts.

[2020-02-24 23:52] lussierc commented on #7
@MaddyKapfhammer Would you be able to add the dependencies `devml` and `gstats` to the Pipfile? These, specifically the `devml` dependency, offer the easy calculation of code churn in a repository, which will be very helpful when it comes to implementing my group's third feature.

[2020-02-25 00:02] cassidyt2 commented on #40
Spoke with Project Manager Maddy Kapfhammer, and she signed off on myself focusing on parameterizing metrics.py in lieu of developing a CLI. This was due to the majority of the groups developing their own CLI's, and the plan for the overall gator coGITate project to use the best of these developed CLI's. Thus, I am removing myself, Caden Hinckley, and Declan Casey from this issue.

That being said

[2020-02-25 00:04] cassidyt2 commented on #40
Additionally, I in light of demo's being cancelled for tomorrow, I am no longer sure how urgent the completion of this task is, and am removing the 'important' tag from it.

[2020-02-25 00:22] MaddyKapfhammer commented on #7
@lussierc I can add these dependencies tonight! Thank you for letting me know that you need them!

[2020-02-25 00:36] stephensonc commented on #30
In order to add an environment variable to Travis, you have to have administrator access to Travis on this repository itself, and add the environment variable through the online Travis tool as Caden K has indicated.

[2020-02-25 00:50] lussierc commented on #7
Thank you, @MaddyKapfhammer!

[2020-02-25 03:38] schultzh commented on #30
@koscinskic @stephensonc Okay! Let me or @spitalnyd know when you are ready to move forward with those environment variables.

[2020-02-25 03:43] enpuyou commented on #30
@koscinskic @stephensonc @schultzh The encrypted environment variable in Travis should be an easy implementation. I would suggest creating a new branch off of master to work on this instead of directly committing to #31 since it seems a little bit stuck at this point, that way you guys don't have to wait for all the other configurations to be done to merge this into the master

[2020-02-25 14:38] hinckleyc commented on #20
I added another data set and test case.

[2020-02-25 14:38] hinckleyc commented on #20
Make sure you pull before editing.

[2020-02-25 15:41] spitalnyd commented on #11
It would also be a good idea to show the customer the features we have so far. So we can get feedback if needed.

[2020-02-25 17:46] WonjoonC commented on #27
Will we have another meeting with the customer to ask questions for our features today?

[2020-02-25 18:07] schultzh commented on #27
We will not be having a structured meeting with the customer today, however if you have specific questions make sure you come prepared to ask them!

[2020-02-25 18:12] koscinskic commented on #15
SQLite is moderately intuitive from what little experience I have with it. It would most likely be a productive improvement if we could streamline the data alteration process as much as possible.

[2020-02-25 18:16] koscinskic commented on #15
My apologies for the late notice, but if everyone here could briefly analyze all of the source code from their team's branch(es), we could determine how much work to allocate to refactoring and integration when we setup this week's schedule. Also, is everyone here still clear to meet tonight at 8:00 PM?

[2020-02-25 18:18] koscinskic commented on #14
With teams being partially reassigned, I figured we could make use of this issue thread while it is still open. Where are we collectively on refactoring and testing our branches?

[2020-02-25 18:18] wilsonj24 commented on #11
@spitalnyd I agree. For this, feedback is important

[2020-02-25 19:52] cassidyt2 commented on #40
Another team is now working on CLI's. I removed Cameron Hatchel and Ramon Guzman, and am closing the issue.

[2020-02-25 19:52] #40 closed

[2020-02-25 20:08] spitalnyd opened #45 "Web Interface Team"
This issue is used for Team Web Interface to discuss the creation of making a web outline for the entire project.  In addition to discuss any changes, additions, or updates to the web interface as we go.

[2020-02-25 20:09] ABaldeosinghASC commented on #45
We can use streamlit to gather the data and display it as a webpage

[2020-02-25 20:10] ABaldeosinghASC commented on #45
What data specifically are we putting through Streamlit though if anyone wants to clarify

[2020-02-25 20:11] spitalnyd commented on #45
I believe we are using the features we made and using streamlit to make an web interface outline

[2020-02-25 20:12] ABaldeosinghASC commented on #45
So the data that we collect through  pydriller is what we're going to pass into streamlit, correct ?

[2020-02-25 20:22] Cory-Wiard commented on #45
@spitalnyd @ABaldeosinghASC @wilsonj24 @lussierc @reid7danny @TylerPham2000 Lets spend some time continuing to explore stream lit today and tomorrow, so that when we meet on thursday we can start and finish the implementation of it.

[2020-02-25 20:32] johnsc1 opened #47 "Command Line Interface Team"
# General Information
This issue is the new Command Line Interface Team Issue (previously Team Interactions #13  and Basic CLI #19 ) . Our task is now to create a full Command Line Interface for the Cogitate tool.

# Associated Branches
[command-line-interface](https://github.com/GatorCogitate/cogitate_tool/tree/command-line-interface)

# Customer Questions
To ask questions to the customer regardi

[2020-02-25 20:33] johnsc1 commented on #13
This issue has been transferred to #47 as our new task is to create the full Command Line Interface.

[2020-02-25 20:33] #13 closed

[2020-02-25 20:37] johnsc1 commented on #19
This is under #47 now as our main task is creating a full Command Line Interface.

[2020-02-25 20:37] #19 closed

[2020-02-25 20:37] MaddyKapfhammer opened #48 "Scoring/individual-metrics-and-overall-evaluation"
This will allow us to determine the metrics that both an individual and a team will be evaluated. The `Individual Metrics` and `Overall Evaluation` teams will work together to determine these metrics to ensure that we are looking at similar data for both the individual and the project/team as a whole.

[2020-02-25 20:42] MaddyKapfhammer commented on #24
This issue has not been utilized in a few days, and I believe that individuals are currently on the same page with writing test cases and code coverage. We are striving for 100% code coverage of tests with each teams' feature that is developed. With this understanding, I am going to close this issue; it can be reopened if necessary.

[2020-02-25 20:42] #24 closed

[2020-02-25 20:58] johnsc1 opened #49 "Command Line Interface - Customer Questions"
This issue is for the Command Line Interface Team (formerly Team Interactions) to ask the customer questions regarding the CLI. All other information for the Command Line Interface Team can be found in Issue #47 .

[2020-02-25 21:07] MaddyKapfhammer commented on #7
With the `New_dependencies` branch being merged to the `master` branch, I am now going to close this issue, it can be reopened if necessary. In order to update each teams' dependencies `master` needs to be merged to each existing branch. This can be done with the command `git merge master`.

[2020-02-25 21:07] #7 closed

[2020-02-25 21:13] MaddyKapfhammer commented on #27
It seems like we have had many of our questions answered by the customer during our last lab session on 2/18/2020 and during lab today on 2/25/2020 for this reason I am going to close this issue for now. If any other questions arise, please feel free to reopen this issue and we can discuss questions and ask the customer for input.

[2020-02-25 21:13] #27 closed

[2020-02-25 21:19] cassidyt2 commented on #48
In terms of categories both our groups are looking at, I think the general consensus for broad categories I heard was:
- commits
- additions
- removals
- something to do with issues (if we end up using pygithub to access issues info)
- file types edited

We can add more in the future, but this is a preliminary action plan.

[2020-02-25 21:37] cassidyt2 commented on #48
An idea for individual metrics using an averaged ranking system:
using the format of: username, commits, addtions, removals, ratio of commits to additions
a sample list of rankings with 1 being, for instance, the person with the most commits, and 5 being the person with the least a sample list of the first two people in a team of 5 could look like:

johnSmith, 1, 5, 3, 4
janeDoe, 3, 4, 2, 5

johnS

[2020-02-26 19:22] spitalnyd commented on #45
Reminder we have a meeting at 4:30 today. This meeting will discuss the implementation of the web interface. Can't wait to see you all later today! Just let me know if you can't make it!!!

[2020-02-26 19:55] TylerPham2000 commented on #45
I have another meeting at 4:30 but I will come to this meeting as soon as possible.

[2020-02-27 03:26] stephensonc opened #53 "Contemplate the removal of the python 3.6.8 builds in Travis CI"
As it is right now, it is currently taking hours to build one commit/branch because it takes at minimum six(6) minutes to build each time. When all of us are working in one repository, this results in obscenely long queue times before we can see if our build passes.

Removing half of the builds would help to speed up the queue times at least slightly (I understand that Travis tries to build things

[2020-02-27 17:48] MaddyKapfhammer commented on #48
I think that for now the easiest course of action is to determine the percentage of contribution for each individual, compared to the total from the entire branch. This gives the user and indication of how much code they wrote, or contributed in comparison to others without having to deal with a scoring system that is not easily developed, as then that is ranking individuals, which seems more like

[2020-02-27 17:52] carmop commented on #53
I completely agree, if we want to expand the number of builds to test for the different python versions ans OSs we can do that later in the project. Right now the travis time is a barrier that doesn't let us move forward w the project.

[2020-02-27 19:06] bagashvilit commented on #48
@MaddyKapfhammer Just to be clear are we still doing the rankings?

[2020-02-27 20:21] bagashvilit commented on #12
@noorbuchi I just saw your message in Slack regarding our program that your team will be getting raw data from `.json` file, and process the data to be a dictionary with username as a `key`, how would you store the `values`? Would you use a list or other data structure, this is important for us because we would have to sort that data.

[2020-02-27 20:37] bagashvilit commented on #48
@MaddyKapfhammer Thank you for adding the fake data to our file, I thought that we were going to use a dictionary and also @noorbuchi ' s team will most likely store the data as a dictionary. When I checked the type with the following line of code `print(type(github_data))`,  it showed `<class 'list'>` in my terminal window. I was thinking to switch it to a dictionary but first I want to make sure

[2020-02-27 22:27] stephensonc commented on #30
The Improve/travis-ci branch in #31 has no merge conflicts with master, and the test environment is functioning properly. I would like to try to get this merged as quickly as possible so that we can ensure quality code is pushed to master in the future.

The build is failing right now, but that is due to existing linter and test case problems present in the source code files that are currently in

[2020-02-27 23:52] noorbuchi commented on #12
@bagashvilit  we will continue to use the current dictionary that we have, we might need to get rid of some unneeded keys such as the dates list and the files list since it will be stored in other modules and it will be specific to each commit. We will retrieve the data that we need from the .json file and calculate totals and other metrics essentially making a dictionary like this:
[code]
we can

[2020-02-27 23:56] noorbuchi commented on #48
@bagashvilit @MaddyKapfhammer I just posted an update on issue #12 regarding the data structure choice. Please check it out and let me know what you think. I think that @MaddyKapfhammer makes a great point about a percentage of contribution metric and I think that it would fit well in our data structure. Additionally, we can work with the overall evaluation team to provide any needed processed dat

[2020-02-28 04:20] noorbuchi commented on #12
@bagashvilit I noticed your last commit regarding the sample data, while the outer dictionary structure of this data is correct, the values for the keys shown as the usernames should be other dictionaries rather than lists essentially looking like this.
[code]
I hope this clarifies things a little more, I realize that my previous comment did not mention that the structure should be a dictionary wh

[2020-02-28 06:23] bagashvilit commented on #12
@noorbuchi Thanks again for clarifying, that's exactly what I thought, after I pushed the commit.

[2020-02-28 18:01] noorbuchi commented on #15
Hi everyone! I have been trying to refactor my group's data processing module to work with the .json file template you've created and I have some questions and suggestions. I am specifically talking about the commits and the commit data that can be retrieved from Pydriller and not anything regarding issues or pull requests. In the .json file, you create a dictionary where usernames are keys and th

[2020-02-29 00:57] koscinskic commented on #15
Having a specific overall metrics key with additional nested keys would be a good way to go about organizing that data. Having said, I believe my last push modified that format to expand "issues" and "pull requests" into additional categories. This won't have any effect on your implementation, but you will need to pull master and modify 'data_contributor_template' to add your proposed changes.

[2020-02-29 00:58] koscinskic commented on #15
Also, the '.gitignore' in Master has an exclusion for said template, so you should be able to modify it without issue.

[2020-02-29 03:56] noorbuchi commented on #15
@koscinskic can you please be specific about which commit you are referring to. Also, would you prefer that I make the changes to your branch or keep them in my branch which will be later merged?

[2020-02-29 05:55] koscinskic commented on #15
Here is the file I pushed in my last merge with master: https://github.com/GatorCogitate/cogitate_tool/commit/b8737f1db255db03a79b61023aa1684dfb0195cf#diff-7e368a8393875176c9099b6e9e46702d

It would be safe to simply include it in your pull request to master. Alternatively, we could make another data-integration branch (not sure where the original went) and push it from there.

[2020-02-29 18:32] noorbuchi commented on #15
@koscinskic thanks for including the merge. I've been working on refactoring our module to retrieve the collected data from the .json file but I'm getting an issue related to the `json-handler.py` file. specifically, it is saying that the file cannot be found in the directory `FileNotFoundError: [Errno 2] No such file or directory: './data/contributor_data_template.json'` . I think that this is du

[2020-02-29 20:33] bagashvilit commented on #48
@MaddyKapfhammer @WonjoonC I added some code for scoring. currently, this program calculates the percentage of individual contribution (individual * 100/ branch) for each category: `COMMITS`, `ADDED`, `REMOVED` separately. Please review it whenever possible. If it works then we need to figure out what to do with this data to get the final score.

[2020-03-01 01:16] noorbuchi commented on #12
Hi everyone! I have some updates about the changes that were just implemented into our branch. Some of these changes are significant and they fundamentally change how our feature retrieves and outputs data. The most significant change is the removal of Pydriller when it comes to collecting data. Instead, data will be retrieved using the `data_collection` module already implemented by other groups.

[2020-03-01 02:47] #30 closed

[2020-03-01 03:23] Jordan-A commented on #12
@noorbuchi I agree that by not using PyDriller every time we run the program it will be more efficient. I think that the testing tradeoffs are worth it to improve the speed of our tool for now. But we should aim to find ways to get around these drawbacks. I have some thoughts about how we can improve our current system. I think it would be a great idea to have a `main.py` were we can control what

[2020-03-01 03:56] noorbuchi commented on #12
@Jordan-A I think you make some great points. We should definitely try to get around these drawbacks and write test cases that make sure our module is working correctly. I also think that a command-line interface would work great, however, other members of our group are working with other groups to get that feature up and running as soon as possible. I would love to see what they make and how we c

[2020-03-01 04:17] Jordan-A commented on #12
@noorbuchi It will be interesting to see what they'll put in the cli for the user! I like the plan that you have set up for the next few days. Thanks for clarifying that the `data_processor.py` file was put into our branch by another team.

[2020-03-01 04:35] noorbuchi commented on #12
@Jordan-A I'm happy to clarify! I want to ask all of our team members about the `count_lines_pygithub.py` we currently have in our branch. It is causing multiple style violations and is not being used at all. Do you think that deleting this file is ok, I personally see no use in it and I think it is extra clutter. If everyone agrees, I will remove the file to prevent ant future complications.

[2020-03-01 21:52] WonjoonC commented on #12
@noorbuchi I've been following as best as I could remotely to see the progress made. I agree that using Pydriller every time to collect data would be inefficient. I also agree that the PyGitHub file may be obsolete and cause trouble, but it may be difficult to be able to evaluate issues using Pydriller.  How do others think about this issue?

[2020-03-01 22:06] WonjoonC commented on #48
@bagashvilit @MaddyKapfhammer Good work with the new individual metrics evaluation. From what I am understanding is that we are finding the percentage for each individual metric from the total regarding commits and lines added/removed? I think that the ranking system as @cassidyt2 suggested would be a good indication of individual success/performance. As for implementing these calculations for the

[2020-03-01 22:13] koscinskic commented on #48
Looking at everything that has been done so far, the tool appears to be in a good place for assessing all of the data and expectations above, but how close are we / how capable is the tool when it comes to answering the original questions posed by the customer? (e.g. how are we factoring commits that don't contain test cases / how are we measuring frequency of collaboration / etc.)

[2020-03-01 22:16] MaddyKapfhammer commented on #48
@bagashvilit @WonjoonC thank you for all your work on these features so far! Yes, we are adding these calculations//features directly to the `individual_score.py` file! I will review the already implemented features, and also implement the features that I was assigned to tonight, and tomorrow.

@koscinskic currently, we are focusing on more simple metrics to deal with contributions. It is not simp

[2020-03-01 23:07] noorbuchi commented on #12
@WonjoonC thanks for bringing this up. Considering that our group is only concerned with individual metrics regarding the commits and the additions/deletions for each, I don't think we should focus on tracking interactions just yet. Once we feel confident with what we have after testing and fixing any remaining bugs we can work with other teams to incorporate issues and pull requests into the over

[2020-03-01 23:10] noorbuchi commented on #48
@MaddyKapfhammer @bagashvilit Considering that the refactoring portion of our original is almost complete, I think we should start working together on how the individual metrics we stored will be incorporated into the overall evaluation. Let us know what you think about this moving forward and how we can help you integrate the two aspects of the tool.

[2020-03-02 02:48] Jordan-A commented on #12
@noorbuchi Yes we should complete our work and make sure they're no errors. I think that if the `count_lines_pygithub.py` file offers no value we can delete it. But I think we should reach out to other groups to see if they have any use for `PyGithub`. If they say no lets remove redundant code.

[2020-03-02 03:54] noorbuchi commented on #12
@Jordan-A I will check the failed tests you mentioned soon and try to implement a fix. The original intention of the Pygithub file was to compare the usage of Pydriller to Pigithub, so considering that we've already made that decision, I think we should delete it. I don't think that other groups will be able to use it either because it is not very functional and it offers information that we've al

[2020-03-02 05:49] mcnultycollin commented on #12
Looks like the biggest thing towards getting a passing Travis build is this
[code]
error that you pointed out @Jordan-A . I see the comment that says it passes with an actual token, maybe we can use a user input that requires a token to run this test suite, or maybe we could set up a dummy Github account with a token that could be hard coded in. I added some comments to describe the code so make s

[2020-03-02 15:21] johnsc1 commented on #53
Forking repositories is a skill we are required to work with according to our assessment sheet for each week of the lab, so I think forking the repository would be a good solution!

[2020-03-02 16:58] noorbuchi commented on #12
@mcnultycollin the issue that you mentioned in the previous comment is referring to the directory of the json file. I'm not sure why you are having this issue considering that this same directory works fine on my device. Considering that we are not using PyGithub, tokens are not needed to access a repository.

[2020-03-02 18:11] koscinskic opened #56 "Correcting Master in order to Pass Travis"
Before our lab session tomorrow, we should correct any and all issues causing Master to fail the Travis CI builds. These corrections should be made in the [associated branch](https://github.com/GatorCogitate/cogitate_tool/tree/Corrections/passing-master).

[2020-03-02 19:14] declanjcasey commented on #20
Is there any other work we could currently be completing? I'm not really sure how much refactoring there is to do and both @hinckleyc and I felt we could be doing more work currently

[2020-03-03 01:08] noorbuchi commented on #15
@koscinskic I have some updates on the previously mentioned issue of the directory not found. While `./` refers to the current directory, `../` refers to the one right before it. The `json_handler.py` file refers to the directory of `./`  as it is present in the master branch. This causes no issues when running the test suite because the test suite is run from the first level of the folder right o

[2020-03-03 01:49] schultzh commented on #53
I will be adding code coverage reports to the travis build tonight and can also reduce the number of test builds to two in that PR. Thanks for bringing this up!

[2020-03-03 02:08] MaddyKapfhammer commented on #48
@noorbuchi I agree that we should start working together to determine how individual metrics and overall evaluation will fit together. Currently, we are using fake data for our calculations, perhaps tomorrow in lab we can discuss how to implement our features with real data that is mined, together. This could be very beneficial in completing our features as soon as possible.

[2020-03-03 02:18] MaddyKapfhammer commented on #48
@bagashvilit it seems like the code that you have written will provide the percentage of contribution for any metric that is added into the fake data dictionary. I think that tomorrow in lab we will be able to focus on converting this fake data to using real data, and then our features will be able to be completed.

[2020-03-03 03:21] mcnultycollin commented on #12
I am no longer getting this error.

[2020-03-03 03:27] mcnultycollin commented on #15
Hello, I have noticed that lines_modified has been removed as a metric form data_collection, and I am curious why this is the case. The individual_metrics.py code still anticipates that this data will exist.
Using the method @koscinskic and I wrote previously, we can retrieve modified lines per user no problem if we simply reinstate this in data_collection.py.

[2020-03-03 03:31] noorbuchi commented on #15
@mcnultycollin Although having this data collected would be nice, our group does not take this data from the `data_collection` module. Instead, we calculate it after all user data have been collected.

[2020-03-03 03:42] mcnultycollin opened #59 "Individual Metrics Code Clarity - README Improvement"
Hello, I am having difficulty understanding how the code in Individual Metrics works, and how to run the code to see that it is working correctly. I strongly believe that steps need to be taken to improve the ReadMe file and provide a more in depth explanation of how the files interact with one another. This would essentially be an API.

Currently following the instructions to run in the Readme gi

[2020-03-03 03:46] koscinskic commented on #56
There is a test case for test_collect_commits_user_email_key() in the test_data_collection.py file under testing. Seeing as this method does not exist in the data_collection.py file under src as the test case indicates, it will be marked as xfail until either the method is added or the test case is removed.

[2020-03-03 04:01] mcnultycollin commented on #15
@noorbuchi we will need to ensure that this is an accurate method for calculation. Please see the issue tracker I just opened so that we can go about evaluating things of this nature.

[2020-03-03 04:27] koscinskic commented on #15
I'm probably a little late for the conversation, but using something along the lines of os.path.dirname(os.path.abspath(__file__)) should correct any directory navigation issues. Otherwise, after reviewing what is in the branch, I would assume that running pytest tests/_whatever_your_file_is_called_.py should resolve the issue as the default pytest command executes from root.

[2020-03-03 04:29] koscinskic commented on #15
@mcnultycollin could you link the issue here where the data format is currently being discussed? (Both for personal reference and ease-of-access)

[2020-03-03 04:50] Jordan-A commented on #59
Hi! I agree that it would be helpful to everyone if we expanded the readme file of our repo branch. I remember seeing the program working earlier today. What was your input?

[2020-03-03 04:56] Cory-Wiard commented on #45
Hopefully during lab tomorrow we get a good understanding of how far people are, so that we can complete our part. Is everyone good with meeting Wednesday again if that is the case? @spitalnyd @ABaldeosinghASC @TylerPham2000 @wilsonj24 @lussierc @reid7danny

[2020-03-03 05:02] hinckleyc commented on #20
I worked on fixing Travis ci errors for the master branch because I had extra time to work on it. But if there is work for our part of the project just let me and @declanjcasey and we will start working on it.

[2020-03-03 13:46] munzekm commented on #59
Hi, I agree that this is a great idea to do! I have also tried running and reproduced the same error as Collin. We should figure out if this is a problem for everyone or just on our end.

[2020-03-03 14:01] noorbuchi commented on #59
With our latest changes to the files mentioned above, we changed how the program is interacted with in terms of input and output. While the old steps and the new steps are very similar, an explanation is needed in the Readme file. We will work on resolving this issue today in our lab session be providing clear steps on how to run the program.

[2020-03-03 14:17] munzekm commented on #12
What did you do in order to get rid of this error? @mcnultycollin

[2020-03-03 14:59] cassidyt2 commented on #20
If anyone has any ideas for additional metrics we can include, please add them here! I was thinking perhaps an average of commits per document edited? Like (# Commits/documents edited)

[2020-03-03 16:08] WonjoonC commented on #59
I agree with @mcnultycollin as well. In further note, I believe it would be a good idea to document in the ```README``` file to more in depth so that the user and other developers can fully understand the workings of our code.

[2020-03-03 17:11] MaddyKapfhammer commented on #59
I agree that the code is slightly difficult to understand, documentation will definitely help, but a code review/explanation during our lab session may also be helpful so that all of our team is on the right page. I agree that we need to document all of our features, and the tool as a whole. I have started doing this in a `README` file for the entire tool, in the `Documentation` branch. I am hopin

[2020-03-03 17:48] lussierc commented on #15
@mcnultycollin Could you link the mentioned issue when you have a chance?

[2020-03-03 17:51] lussierc commented on #45
I am good with meeting on Wednesday again. We can see what visualizations are most preferred by the customer today in order to determine what we will output in Streamlit. [Here is a helpful link for Streamlit API info & the types of visualizations supported.](https://docs.streamlit.io/api.html)

[2020-03-03 17:58] #53 closed

[2020-03-03 18:21] lussierc commented on #11
Since we are moving on to working on the Web Interface, #45, I am closing this issue. We can reopen it if we have to come back and work on these features again.

[2020-03-03 18:21] #11 closed

[2020-03-03 18:50] mcnultycollin commented on #59
thank you all for the support. Look forward to our meeting today.

[2020-03-03 18:53] mcnultycollin commented on #12
@munzekm TBH i didn't take any steps to fix it. I tried it in various locations but in the end was able to get it to work in root with no debugging. Sorry that this isn't much help.

[2020-03-03 19:28] MaddyKapfhammer opened #61 "Feature Completion - What needs to be accomplished?"
This is available for every team to document what needs to be completed for their features to be merged to `master` this will help the project managers and teams assess what needs to be completed in the next week in order to ensure that our tool is completed on time.

When you comment on this issue please give the name of the team that you are/were a part of and what branches your features are in,

[2020-03-03 20:00] johnsc1 commented on #47
This week (March 3rd - March 10th) we are going to focus on creating the full framework of the CLI so that it is ready for the features to be integrated, once all of the features are complete and refactored. We will also work with the web interface team to integrate their visualizations into the CLI.

[2020-03-03 20:37] JMilamber opened #63 "Missing test file for Cogitate.py"
There is currently no test file where tests for cogitate.py can be added.

[2020-03-03 20:39] JMilamber commented on #63
Going to make a new branch and add the test file to the test folder.  Then create a pull request for it.

[2020-03-03 20:41] schultzh commented on #63
Go for it!

[2020-03-03 20:50] johnsc1 opened #64 "Feature Info for Interface Teams"
This is an issue where the teams working on features can provide a **table of their features** containing the **function name, parameters, and return data** so the interface teams are able to integrate the features as soon as possible.

**Note:** These tables need to be updated as code is refactored so the interfaces are correct.

[2020-03-03 20:53] schultzh opened #66 "Add badges to README.md"
@munzekm and I will be adding travis build passing and codecov badges to the main README.md file for this Friday.

[2020-03-03 20:53] santacruzm commented on #47
# Functionality

**Level 1**

* Team or Individuals

**Level 2**

* Params
* Calling a Function
* Results
* Link to Streamlit (Do you want to view the results in the terminal or on streamlit?)

**Commands we have:**

* Link
* Token
* Repository
* State
* Team
* Individual

[2020-03-03 20:56] liux2 commented on #64
Please add as the following format:

Filename:
Function name:
Required parameters:
Returned parameters:
If there is no return statement, what does the function do:

[2020-03-03 21:11] johnsc1 opened #67 "Command Line/Web Interface Team Communication"
This issue is for communication between the Command Line Interface Team (branch: [command-line-interface](https://github.com/GatorCogitate/cogitate_tool/tree/command-line-interface)) and the Web Interface Team (branch: [WebInterface](https://github.com/GatorCogitate/cogitate_tool/tree/WebInterface)) regarding the integration of the two interfaces.

[2020-03-03 21:16] cklima616 commented on #67
**Commands we have:**
- link
- token
- repo
- team/individual

**Levels to Commands:**
1. team/individual
2. params needed -> calling functions -> results
3. link to streamlit

[2020-03-03 21:21] #63 closed

[2020-03-04 00:51] cassidyt2 opened #68 "Add issues metric to the calculateMetrics module in branch overall-eval-analyzing-metrics"
Create a new metric that incorporates (comments_on_issues_assigned/comments_on_issues_not_assigned), and provides a score/5 based in the same manner as the other metrics

Step by step:
- Add to sample data two more values:
   - Number of issues assigned to
   - Number of total comments
- Calculate the standard deviation of the team's standard deviation for comments_on_issues_assigned/comments_on_i

[2020-03-04 01:29] koscinskic commented on #15
Today's laboratory session was rather chaotic (at least, I don't remember much what occurred outside of what I was focused on). Where do we currently stand in terms of the .json format? Are we adopting the structure proposed in individual_metrics utilizing RAW_DATA and INDIVIDUAL_CONTRIBUTIONS? Has this system been converted and fully integrated with .json? If so, what is the status of the PR asso

[2020-03-04 02:08] mcnultycollin commented on #12
Hi Team, spoke with the architects and here's what we need to get our pull request merged:

- individual_metrics.py driller.py and print_table.py should be refactored into data_collection.py

- merge_duplicate_usernames.py should be deleted if the issue it is addressing is beyond the scope of our tool.

- Not sure what branch the Individual Metrics evaluation / Dry Erase Board team is in, but that

[2020-03-04 15:58] noorbuchi commented on #15
@koscinskic My team and I have been working on refactoring our code to match the structure that you've requested. Our [pull request](https://github.com/GatorCogitate/cogitate_tool/pull/35#discussion_r387453294) is almost ready with all of the changes. Please check it out and let us know if anything else is needed before merging.

[2020-03-04 18:25] declanjcasey commented on #68
I'll be working on this today after my lab at 4:20, I don't think it should take too long but others are welcome to come and work

[2020-03-04 22:44] mcnultycollin commented on #15
@lussierc late but here's the issue i was referring to, which i'll be working on next few days.
 https://github.com/GatorCogitate/cogitate_tool/issues/59

[2020-03-05 02:41] koscinskic commented on #68
@declanjcasey You should probably directly insert those lines into the block of code for retrieve_issues in data_collection and add 2 extra keys in the .json to accommodate for such additions.

[2020-03-05 02:46] koscinskic commented on #64
Filename: data_collection.py
Function Name: authenticate_repository
Req Params: user_token, repository_name
Ret Params: repository (The PyGithub Object)

Filename: data_collection.py
Function Name: retrieve_issue_data
Req Params: repository (The PyGithub Object), state, contributor_data (dict form)
Ret Params: contributor_data (dict form)

[2020-03-05 02:47] #56 closed

[2020-03-05 02:47] Jordan-A commented on #15
Here's an update on the `data_collection.py` refactored code. We just merged our pull request into the `master` branch. When possible merge master into your branches to get what was worked on. If you have any thoughts about our work please comment in our[ issue tracker](https://github.com/GatorCogitate/cogitate_tool/issues/12), @ us in this issue tracker, or message us in slack. Thanks!

[2020-03-05 02:55] Jordan-A commented on #12
@mcnultycollin We have an update! @noorbuchi, @munzekm and I just merged our work, including the refactored code, into master.  Make sure the merge master into your own branches to get all the new files.

[2020-03-05 03:02] Jordan-A commented on #59
@mcnultycollin In our merged pull request we just updated the `README.md` file. If possible, it would be nice to get your feedback on the changes made! 💯

[2020-03-05 14:39] declanjcasey commented on #68
Okay, I didn't end up working on it yesterday and I may need help regarding the keys in .json as I haven't worked with json too much before, but I'll keep looking into it.

[2020-03-05 14:43] declanjcasey commented on #68
Also I don't see data_collection in my repo after pulling, does that have to do with merging the master back into your branches to get the latest updates, like @noorbuchi mentioned in slack yesterday?

[2020-03-06 01:00] #66 closed

[2020-03-06 02:26] hinckleyc commented on #68
The 6th one is pointless u can delete it

[2020-03-06 02:30] hinckleyc commented on #68
@declanjcasey and I finished the first step and will complete the rest of the steps tomorrow during our classroom session.

[2020-03-06 02:43] noorbuchi commented on #64
The following functions are for the `data_collection.py` file.
| Function Name                                     | Input Parameters                       | Returns                                                |
|---------------------------------------------------|----------------------------------------|--------------------------------------------------------|
| collect_commits_hash(repo_path)

[2020-03-06 02:44] #61 closed

[2020-03-06 17:41] MaddyKapfhammer commented on #59
It seems that we have accomplished what was necessary for this issue, and have a more descriptive feature that was merged to `master`! Great work everyone! For this reason, I am going to close this issue, if necessary please feel free to reopen it.

[2020-03-06 17:41] #59 closed

[2020-03-07 22:57] bagashvilit commented on #12
@MaddyKapfhammer @noorbuchi I just tested out bringing in data from `individual_metrics_testfile.json`, and it worked, which means I could get data for any repository if I wanted to. But the biggest problem now is that the dictionary we are getting has modified file names, we can't use the names for calculations, I was wondering what's the purpose of them, are we just displaying it to the user? An

[2020-03-08 04:53] noorbuchi commented on #12
@bagashvilit I'm glad your feature is up and running! Please keep in mind that `individual_metrics_testfile.json` should not be changed because it is to be used exclusively by the test suite. As for the modified files metric, the names of all the files a person changed are stored for multiple reasons. When building this function, there was a feature in mind where the user can choose to view the mo

[2020-03-08 20:28] bagashvilit commented on #12
@noorbuchi Thank you, I'll consider that, and update you about my progress

[2020-03-08 22:37] MaddyKapfhammer commented on #12
Hey guys! I am working on implementing the nested dictionary of the actual data retrieved from GitHub into the `IQR_team_scoring.py` file. I'm running into a lot of difficulty with this currently, would anyone be able to help me with the specific lines of code or commands that I need to run that I should write in order to access the nested dictionary? @noorbuchi @Jordan-A @munzekm I think that you

[2020-03-08 23:20] santacruzm commented on #47
**3/8/20**

Meeting discussion:

**Tasks**

- Implement existing functions that the user needs to interact with

- Issue #64 contains lists of functions

- Test Suite (do not test feature functions) Instead focus on testing the local CLI functions

- Document the CLI Interface as we go

- Implement the Web Interface

[2020-03-08 23:22] bagashvilit commented on #12
@MaddyKapfhammer I am getting the data from json did you follow the steps that I send, or exactly what are you having trouble with. Also even if you get it data is in triple nested dictionary when our fake data is different, so we will need to communicate with architects team to fix that

[2020-03-08 23:40] MaddyKapfhammer commented on #12
@bagashvilit I did follow the steps that you gave me, and can print the nested dictionary with no problem. I am running into troubles when I try to assign retrieve the dictionary and assign it to a variable in my program.

This is the error in my terminal window that I am receiving:
[code]

[2020-03-08 23:48] johnsc1 commented on #47
For implementing the **web interface**, we will call their main( ) from very end of the CLI main, returning a URL to the web interface.

[2020-03-09 00:04] MaddyKapfhammer commented on #12
I have since realized that the nested dictionary is being assigned to my variable correctly. I believe that I am getting this error because the dictionary has String attributes when I am trying to do numerical calculations.

[2020-03-09 00:10] bagashvilit opened #75 "multiple `.json` files"
@koscinskic I had a suggestion, why don't we keep dictionary of raw data and dictoinary of individual metrics data in separate `.json` files instead of same file. I think, that having multiple `.json` files would avoid having triple nested dictionaries and would make it easier for my team to access the data we need and do calculation. Please, let me know your opinion as soon as possible.

[2020-03-09 00:13] bagashvilit commented on #12
@MaddyKapfhammer That's definitely one of the reasons also as you see the structure of the dictionary is different, it like triple nested, which also failed my functions. I was also thinking after we are done with our programs why don't we put them in one file, so that we access dictionary from `.json` file only once.

[2020-03-09 00:34] noorbuchi commented on #12
@MaddyKapfhammer I hope that you found a way to solve the issue, @bagashvilit and I have been discussing potentially using two `.json` file instead of just one and I think that many people would agree that this would be for the best. The architects' team did not like this idea previously but we should try to talk to them about it again. Also, we've discussed the ways that we will integrate our pro

[2020-03-09 00:44] johnsc1 commented on #47
I added the while loop and logic for entering the web interface into main( ) of cogitate.py.

[2020-03-09 01:48] MaddyKapfhammer commented on #12
@bagashvilit @noorbuchi I also agree that it would be better to use two `.json` files rather than one, we definitely should talk to the architects about this. I think that the idea of merging duplicate usernames and returning a dictionary with no calculated data, so that my group does the calculations and writes to the `.json` file also makes sense. I will let you know what other progress I contin

[2020-03-09 01:57] bagashvilit commented on #12
@MaddyKapfhammer , @noorbuchi I raised an issue on GitHub regarding multiple json files. @MaddyKapfhammer in our branch please use `individual_score_test.json`, the raw data of our branch is there

[2020-03-09 02:07] MaddyKapfhammer commented on #12
@bagashvilit I am receiving this error when I use `individual_score_test.json`: `FileNotFoundError: [Errno 2] No such file or directory: './data/individual_score_test.json'` do you have any idea what I can do to fix this error?

[2020-03-09 02:12] bagashvilit commented on #12
@MaddyKapfhammer What directory do you run the program from

[2020-03-09 02:13] bagashvilit commented on #12
Make sure that you are not in the `src` and run `pipenv run python src/Individual_score.py` but with your file name, let me know if this fixes your issue

[2020-03-09 02:16] noorbuchi commented on #12
@bagashvilit can you please clarify the names of the files used to store the raw data and the name of the file for the individual metrics. Additionally, make sure to add
[code]
to your json so it is not completely empty

[2020-03-09 02:23] noorbuchi commented on #75
@bagashvilit @koscinskic I completely agree with this. I think that it would help structure things a lot better by making a file specific for the raw data, and a different file for individual metrics.

[2020-03-09 02:24] bagashvilit commented on #12
@noorbuchi I'll do separate `.json` files for raw data and individual metrics data after I get confirmation from the architects' team. Until then I think I'll keep using one file for my branch.
 I did add the `{ }` to my json file as you recommended before, but thanks for the reminder again.

[2020-03-09 02:40] MaddyKapfhammer commented on #12
@bagashvilit I tried the command that you gave me, with both your file and my file, but am still receiving the same error. I noticed that I do not have `individual_score_test.json` in my data folder. Would this be the problem? Do I need to create it, or do you need to push this change?

[2020-03-09 02:42] bagashvilit commented on #12
@MaddyKapfhammer I thought I already pushed it, you don't need to create it

[2020-03-09 03:09] noorbuchi commented on #12
@bagashvilit I just added the `lines_of_code` metric I told you about today, I'm still not sure what it means but it has some weird and unreasonable number as shown in this comment, please let me know if it's of any use to you or if I should get rid of it.
[code]

[2020-03-09 03:15] bagashvilit commented on #12
@noorbuchi As you mentioned, we don't really know what that number is doing so I guess we can get rid of it. What do you think?

[2020-03-09 03:19] noorbuchi commented on #12
@bagashvilit I'm honestly not sure what it represents, I might keep it for now but if we don't need it, then we can remove it. @MaddyKapfhammer what do you think about this?

[2020-03-09 12:54] MaddyKapfhammer commented on #12
@bagashvilit @noorbuchi I am also not sure what this number represents, so I think that it is fine to remove it. It doesn't make much sense to return data that we don't understand the purpose of, the user then won't understand it either.

[2020-03-09 14:19] noorbuchi commented on #12
@MaddyKapfhammer Thanks for the feedback, I removed this metric from the uncalculated data. As of right now, the structure of the dictionary is
[code]
More changes will be made as we discuss the best way to store the data and to help your group access it easily.

[2020-03-09 15:02] koscinskic commented on #75
That seems like a reasonable approach, but I would be cautious altering the state of the data structure so close to the deadline. It's a simple fix, so it shouldn't be a problem. Is there a branch already open for this change?

[2020-03-09 15:11] noorbuchi commented on #75
There is not an open branch for this just yet, but we can get those changes added very soon. I think that we should have the files uniformly named through all of the branches to prevent confusion. @bagashvilit @MaddyKapfhammer how would you like us to start working on this? Since this is an issue that affects both of our branches, do you think that we should create a new branch or just add it to o

[2020-03-09 16:18] bagashvilit commented on #75
@noorbuchi Since this is affecting both of us, and will require changes to the test cases, I think we should create new branch, what do you think?

[2020-03-09 16:22] noorbuchi commented on #75
I think that would be the best approach, I will create a new branch soon and get these changes merged soon. Please let me know if you have any other suggestions for changes in that branch.

[2020-03-09 16:31] noorbuchi commented on #75
@MaddyKapfhammer  @bagashvilit I just created the branch under the name `multiple_json_files` please feel free to make any changes needed.

[2020-03-09 16:35] bagashvilit commented on #75
@noorbuchi Thank you for creating new branch, I'll take a look at that as soon as I can.

[2020-03-09 17:20] noorbuchi commented on #75
@bagashvilit @MaddyKapfhammer I have a quick update, I've reworked all of the `data_collection.py` function. I think this is a great improvement and it allows for a more organized structure. I still have to fix any remaining linter issues in addition to reworking test cases.

[2020-03-09 19:30] hinckleyc commented on #20
So since we are not using our program should we delete it?

[2020-03-10 01:19] noorbuchi commented on #75
The changes were implemented and merged so this issue will be closed

[2020-03-10 01:19] #75 closed

[2020-03-10 01:27] noorbuchi commented on #68
Hi everyone! please check the `individual-metrics-lines` branch. Some of the issue and PR counting features have been added. However, there is still more analytics that could be done with them and more information about them that could be added. Please let me know what things you're considering adding so we can coordinate. Thank you!

[2020-03-10 02:34] noorbuchi commented on #12
@MaddyKapfhammer @bagashvilit Hello! As you may know, the structure of the dictionary has been updated with the recent merge into the master branch. The new one will not include the `INDIVIDUAL_METRICS` key, Instead, it will look like I have below. It will also be located in a different json file called `individual_metrics_storage.json`

[code]
More changes will be made as I add keys for commits r

[2020-03-10 03:40] johnsc1 commented on #64
@koscinskic @noorbuchi Are there any more features the interface teams need information about or do any of the information regarding these features need to be updated ?

[2020-03-10 03:44] noorbuchi commented on #64
@johnsc1 There are more changes that will be coming soon, I have been working on this all day to get them done and merged to master as soon as possible. I can't guarantee that you'll get a full update with the new stuff today but I will try to get it done as soon as I can.

[2020-03-10 03:47] noorbuchi commented on #64
@johnsc1 There is a small concern that I have that you might have to consider as the command-line interface team. One of the aspects of gathering accurate data requires the user to interact to specify any duplicate usernames to get their data merged together. I have already created a function for that in the `individual-metrics-lines` PR which I'm currently working on. However, I'm not sure how yo

[2020-03-10 04:09] liux2 commented on #64
Is it possible to create a function that can do auto-merge, and some merge method can be provided to users. If the user doesn't choose to merge, then we do data with duplicates. If the user chooses to do merge, we can call the function with the merge strategy specified.

Our task is to create pipline with the interface. You guys can just provide functions.

[2020-03-10 04:14] noorbuchi commented on #64
@liux2 I think not merging duplicate data would really skew the scores assigned to people because of how many duplicates there often is. I definitely thought about making an auto-merge function, the only issue is that there is no way to detect duplicates all the time. I tried to make a function but it often made false assumptions and merged wrong data. Also, it often merged so little that user inp

[2020-03-10 04:42] johnsc1 commented on #64
@liux2 @noorbuchi Could this be solved by prompting the user in the CLI to enter the duplicate usernames, then passing a list of those usernames to this new feature? We should also try to follow the solution that @gkapfham proposed since he is the customer.

[2020-03-10 04:50] noorbuchi commented on #64
@johnsc1 I'm not sure how the CLI works, but in my approach to testing it in the main function, I printed the data repeatedly to ask the user to input the usernames they want to merge and then displayed the data again and asked them if they're done or if they want to merge other ones. I realize that this is not the best approach but I'm not sure how else to deal with this issue.

[2020-03-10 13:52] lussierc commented on #45
@Cory-Wiard @wilsonj24 It looks like we are still waiting on the data/features from feature teams. After we get these we can implement these with our graphs that are currently using sample data. With this, I think we eventually move each graph to its own function.

[2020-03-10 13:55] lussierc commented on #67
Hi all, to let you know, the Web Interface team is continuing work on implementing a singular function (which will eventually call other functions for graph generation) as requested. We are just waiting on the Feature teams to complete work.

Once we have implemented functionality for our graphs to work with the soon to be finished features, we will let you know what the main function is for the W

[2020-03-10 13:55] Cory-Wiard commented on #45
@lussierc Sounds good! After we implement the functions for each graph we can start testing the code as well to get our coverage up

[2020-03-10 14:03] wilsonj24 commented on #45
@Cory-Wiard @lussierc Great!

[2020-03-10 14:05] lussierc commented on #64
Additionally, I have refactored the Building And Testing Team's first two features in #71. The refactored code appears in the same functions, `calculate_individual_metrics(json_file_name)` and `print_individual_in_table(json_file_name)`, talked about by @noorbuchi in his graph above. These are in the file `data_collection.py`.

[2020-03-10 14:06] lussierc commented on #64
For feature teams, thanks for your hard work and please let us Interface teams know when your features are done! Without features we can't really do any real work on our interfaces.

[2020-03-10 15:00] noorbuchi commented on #64
@johnsc1 @lussierc @liux2 I will post a comprehensive update on the latest changes on the `data_collection` file. I haven't had the chance to make changes just yet but more updates will be coming soon and I'll put them on this issue tracker.

[2020-03-10 17:55] mcnultycollin commented on #64
@MaddyKapfhammer hope to communicate with you today about the specific features of the Team Evaluation so that we can create a table for the interface team here.

[2020-03-10 18:00] johnsc1 commented on #47
During lab, in addition to adding as many functions as are completed for the individual and team metrics, we will discuss how the address the merge usernames function (one of the functions in the individual metrics lines branch, not yet merged into master at this time). @noorbuchi said creating a function that calls this merge function on a loop might be one way to do this, but we can further disc

[2020-03-10 18:41] #20 closed

[2020-03-10 19:05] #68 closed

[2020-03-10 19:05] cklima616 opened #78 "Multiple 'main' methods"
Hello all,
I have noticed that multiple main methods are declared in various branches, and I would like to point out that if there's more than one, the program won't know which to run! I know in the Pipeline example provided they had one, but we are taking a more modular approach that includes multiple classes. This means the method that calls functions marked `if __name__ == "__main__"` should be

[2020-03-10 19:06] #14 closed

[2020-03-10 19:10] santacruzm commented on #47
**Process**

1. Get raw data

2. Write raw data to the appropriate json file

3. Call calculate metric function (reads from the json and Returns a Dic)

4. Get PyGitHub Data (Returns a Dic)

5. Merge duplicate usernames

6.  Complete calculations on the data

7. Write to Metrics json

[2020-03-10 19:23] Jordan-A commented on #78
Great points @cklima616! I think that if we made these changes it would make our code better adhere to the pipeline programming style.  I think it would also be great to hear from someone in the command line interface group.

[2020-03-10 19:25] cklima616 commented on #78
@Jordan-A I'm in the CLI group! If anyone any questions come by or send me a message in Slack.

[2020-03-10 19:32] Jordan-A commented on #78
@cklima616 I'm currently working on pr #77 and I could implement this fix that will be merged into master.  Just to clarify we want to remove all the main methods in the modules except the `cogitate.py` file, right?

[2020-03-10 20:05] lussierc commented on #45
Main Tasks left to complete for Web Interface:
- Have working graphs (most are complete and working, but with sample data since we don't have features yet)
- Get graphs to work with data from features (waiting on feature teams to complete these features and merge them into master so we can do this)
- Simple test cases for the web interface
   - Basically we can just test if the pandas data frame b

[2020-03-10 20:05] lussierc commented on #64
From #45, just to update you all.

Main Tasks left to complete for Web Interface:
- Have working graphs (most are complete and working, but with sample data since we don't have features yet)
- Get graphs to work with data from features (waiting on feature teams to complete these features and merge them into master so we can do this)
- Simple test cases for the web interface
   - Basically we can j

[2020-03-10 20:11] lussierc commented on #45
1+ meeting(s) in the next two days (once we have features to actually use) to complete this.

[2020-03-10 20:16] koscinskic commented on #64
There is now a function for retrieve_token that takes in a file path and returns the user's token, provided it is stored locally in token.txt. Otherwise, if no input parameter is given or the file does not exist, it returns the Travis token. The Travis token is purely for testing and will not be able to mine the repo.

[2020-03-10 20:17] koscinskic commented on #64
There are still some minor issues with the test cases, which is why I introduced the method in the first place. It's functionally a check/pass-through, but necessary for stable testing.

[2020-03-10 20:30] noorbuchi commented on #64
Update from the latest PR in individual metrics lines, we are trying to get it merged. This table shows the function descriptions.
| Function Name                                                                                                                                        | Input Parameters                                                                   | Returns

[2020-03-11 01:39] bagashvilit commented on #12
@noorbuchi @MaddyKapfhammer I moved the calculations for metrics such as `TOTAL`, `RATIO` and so on, and it is working, however, the new metrics that were added such as Github issues, and pull requests are returning empty lists. @noorbuchi Let me know if you have an idea why this is happening.

[2020-03-11 03:05] noorbuchi commented on #12
@bagashvilit I'm glad the Pydriller metrics are working. Pygithub metrics, on the other hand, require a different set of functions to be called. I have demonstrated some of that in the main function of the data collection method but I can also put a more detailed explanation here. Please keep in mind that this function is temporary and will not be used in the final version of the too, so I did not

[2020-03-11 15:14] cklima616 commented on #64
@MaddyKapfhammer @bagashvilit When I spoke to Teona yesterday, we talked about a print method being available to put output in the terminal. I know you guys had a working function - is that something CLI team would call, or should we implement it in cogitate.py?

[2020-03-11 15:15] bagashvilit commented on #64
@cklima616 I'll explain what my functions do in a moment

[2020-03-11 15:16] bagashvilit commented on #64
As for the print function, I did not create it I just use `pandas` `dataframe`, you guys can import that in your file and use for the display.

[2020-03-11 15:17] MaddyKapfhammer commented on #64
@cklima616 I have not created a print method for the team evaluation functions.

[2020-03-11 15:19] cklima616 commented on #64
@MaddyKapfhammer One other question - do you need CLI to call the calculate_iqr_score method if the user provides below/above/within weights? Or are those just going to remain hard coded/calculated some other way?

[2020-03-11 15:23] MaddyKapfhammer commented on #64
@cklima616 The CLI only needs to call the calculate_team_score method. The user does need to provide below/above/within weights for this function, as the customer said that it would be better to specify that information, than have it be hard coded.

[2020-03-11 15:41] bagashvilit commented on #64
The following table has functions from `data_processor.py` file.
| function | parameters| return|
| ------------- | ------------- |
| add_new_metrics(dictionary) | parameter is dictionary you get from data_collection functions | returns an updated dictionary with new metrics such as `TOTAL`, `MODIFIED` `RATIO`|
| individual_contribution(dictionary) | parameter is returned dictionary from  `add_new

[2020-03-11 15:41] noorbuchi commented on #64
@cklima616 If you need to print a nested dictionary, I suggest using the function in the `data_collection` module that our team wrote, you will simply need to follow the parameters outlined in the function and you can get a table with all the information you need. Please let me know if you have questions on how to use it.

[2020-03-11 15:48] bagashvilit commented on #64
The following table has functions from `data_processor.py` file.
| function | parameters| return|
| :------------- | :-------------:| :------------: |
| add_new_metrics(dictionary) | parameter is dictionary you get from data_collection functions | returns an updated dictionary with new metrics such as `TOTAL`, `MODIFIED` `RATIO`|
| individual_contribution(dictionary) | parameter is returned dictio

[2020-03-11 23:55] noorbuchi opened #81 "Accidental merge into master?"
Hi everyone! Very recently, the command line interface branch was merged into master without getting the needed requirements in a passing build and a review from project managers and other contributors. This caused the master branch build to fail and added some changes that were not intended. I created this issue to discuss how we can go about reversing these changes, fixing some of those issues,

[2020-03-12 00:00] bagashvilit commented on #81
Could someone from CLI team confirm that it was an accidental merge so that we take appropriate actions to revert it?

[2020-03-12 00:00] noorbuchi commented on #81
At the moment, I can create a pull request to revert all of the changes made by that merge. Please let us know if the change was or was not intended so we can figure out what to do from here.

[2020-03-12 00:26] johnsc1 commented on #81
I had communicated with the CLI team that the branch command-line-interface should not be merged into master until all of the features and implemented, our test suite is complete, and all Travis checks pass.

[2020-03-12 00:27] JMilamber commented on #81
this was in fact an accidental merge

[2020-03-12 00:35] JMilamber commented on #81
In the pull request (linked above )I had made to merge master into The Command Line Interface, there were conflicts that needed to be resolved and I attempted to do so from the github website using theri tool to update the code to use all of the code from the master branch. When i did so, if you look in the commits in the pr linked above, there is one that says it merged into master. However it st

[2020-03-12 00:56] noorbuchi commented on #81
@JMilamber no worries mistakes happen. I just wanted to make sure that all teams are on the same page when it comes to merging PRs and we're making sure that all changes are approved. Considering that, please make sure to approve the PR I created that would revert those changes, it is #82

[2020-03-12 01:03] JMilamber commented on #81
will do

[2020-03-12 01:44] noorbuchi commented on #81
Now that the merge was reverted, your team can create another PR to get it reviewed and merged when ready.

[2020-03-12 02:22] johnsc1 commented on #81
I am closing this issue since the merge was reverted.

[2020-03-12 02:22] #81 closed

[2020-03-12 07:53] bagashvilit commented on #48
Individual metrics and team evaluation features were merged into the master branch, therefore I am closing this issue.

[2020-03-12 07:53] #48 closed

[2020-03-12 17:11] lussierc commented on #64
I refactored the Building And Testing Team's first two features in #71. The refactored code appears in the function, `calculate_individual_metrics(json_file_name, data_path)`.

[2020-03-12 17:21] JMilamber commented on #64
@bagashvilit does the "add_new_metrics' function need to be called for both team based functions and individual based functions or just before individual based functions?
Also are there default values that we can use for Above_weight, Below_weight, Within_weight? or is that a question for prof.?

[2020-03-12 18:45] bagashvilit commented on #64
@JMilamber Yes because both individual and overall functions need to use updated dictionary. How I would recommend doing is to call `add_new_metrics` function and once you get an updated dictionary, use that for both individual and overall functions. Please let me know if you have any further questions.

[2020-03-12 18:45] bagashvilit commented on #64
@MaddyKapfhammer Could you comment on default values for weight

[2020-03-12 19:01] MaddyKapfhammer commented on #64
@JMilamber the default values that can be used for the weights are as follows:
- above_weight : 0.2
- below_weight: 0.2
- within_weight: 0.6

[2020-03-12 19:21] bagashvilit opened #85 "README_documentation"
Hi everyone, can I trouble you all to quickly comment on this issue with suggestions for future development and limitations of our tool. It can be something like this:
`TODO:` improve code coverage
`TODO:` Automate the merging of duplicate usernames.
It's important to make the comments as soon as possible so that we have enough time to document them in `README.md`.

[2020-03-12 19:38] JMilamber commented on #64
@MaddyKapfhammer Okay thank you. Those will be added.

[2020-03-12 19:39] JMilamber commented on #64
@bagashvilit  okay thank you for the update, i will move the call so both individual and team get the updated dictionary.

[2020-03-12 19:43] koscinskic commented on #64
I'm assuming you all have figured this out already, but I'm fairly certain initialize_contributor_data() is already done by one of the functions covered by the individual metrics team, so it should be safe to remove.

[2020-03-12 21:10] noorbuchi commented on #85
Future development suggestions:
- Allow the user to choose a branch to analyze
- Include dates of commits to filter data in a timeline

These are some of the things I have in mind for now. I'll add another comment on this issue if I remember something else.

[2020-03-12 22:01] Cory-Wiard commented on #85
Future development suggestion:

- Line graphs displaying the commits over time to see daily or weekly contribution

-  continue to refactor/change program to continue to improve efficiency and run time

[2020-03-12 22:02] #78 closed

[2020-03-12 23:09] cklima616 commented on #64
@bagashvilit @MaddyKapfhammer I am receiving this error when running our program:
[code]

[2020-03-12 23:14] cklima616 commented on #64
@bagashvilit @MaddyKapfhammer Upon reviewing this error, I realize it's because of how I called the add_new_metric function. For calculate_team_score, the function returns an int and I tried to pass it through add_new_metric, which requires a dictionary. I am going to continue working this out, but if there's something I'm missing let me know!

[2020-03-12 23:20] cklima616 commented on #64
@MaddyKapfhammer Since you worked on the team function - does it only return one single score? I was under the impression it would be some sort of score by branch/small group. If it's just one single baseline score, that's fine, I'll just have to change the code.

[2020-03-12 23:22] bagashvilit commented on #64
@cklima616 It does return one single team score. Only the individual evaluation returns dictionary.

[2020-03-12 23:24] cklima616 commented on #64
@bagashvilit Thank you! After fixing this, here is the current output of our program:
[code]

[2020-03-12 23:32] bagashvilit commented on #64
@cklima616 I'll take a look at your repository as soon as I get the chance

[2020-03-12 23:59] bagashvilit commented on #64
https://github.com/GatorCogitate/cogitate_tool/blob/a9d23c00194a1e53a81fa5a9304def685a312a60/src/cogitate.py#L155
Here instead of this it should be:
[code]

[2020-03-13 00:01] bagashvilit commented on #64
@cklima616 You should also double-check with data_collection team to make sure that you are getting data correctly

[2020-03-13 00:55] MaddyKapfhammer commented on #85
I have created a PR with these as additions to the documentation. I would appreciate it if you guys could review this PR and either approve it or request changes, so we can get it merged as soon as possible. The PR is: #86, once this is approved and merged I think that we can close this issue!

[2020-03-13 01:02] cklima616 commented on #64
@noorbuchi I have implemented all functions as described, but am still getting an empty output.
[code]
If you have a chance, could you ensure I have implemented methods for data collection correctly?

[2020-03-13 01:04] noorbuchi commented on #64
@cklima616 I will do that soon, are these files in the `cogitate.py` file?

[2020-03-13 01:05] cklima616 commented on #64
@noorbuchi Yes! Primarily in the main method, lines 34-40.

[2020-03-13 01:29] noorbuchi commented on #64
[code]
I will be specifically referring to the code mentioned above. It is from lines 34-52. Your call to `collect_and_add_raw_data_to_json` is correct, however, you do not have to specify the name of the file if you're using the default one. On the other hand, `collect_and_add_individual_metrics_to_json` should not be called. This is a shortcut method that writes the individual metrics to the `js

[2020-03-13 01:58] JMilamber commented on #64
@noorbuchi  is the PyGitHub data the retrieve issue data?

[2020-03-13 02:10] noorbuchi commented on #64
@JMilamber yes, `retrieve_issue_data` would allow you to do that. The call would look like this `retrieve_issue_data(repository, state, contributor_data)` where `repository` is a repository object you can get from `authenticate_repository`, state can be a string of `all` `open` or `closed`, and contributor data is a dictionary, an empty one would work

[2020-03-13 02:11] JMilamber commented on #64
okay sounds good. Thank you @noorbuchi ill let you know when its been updated in the branch

[2020-03-13 02:51] JMilamber commented on #64
@noorbuchi when you have a sec, currently we are getting a file called raw_data_storage.json.json when we run the program/its where all the json data is being saved, could you take a look when you have a chance?

[2020-03-13 02:53] cklima616 commented on #64
@noorbuchi Here's the current terminal output:
[code]

It's specifically taking issue with our `team()` function, since the table is printing, albeit empty.

[2020-03-13 02:53] noorbuchi commented on #64
@JMilamber @cklima616  Yep, I'll look at it right now.

[2020-03-13 02:53] cklima616 commented on #64
@koscinskic Maybe you could help us with this error? ^

[2020-03-13 02:59] noorbuchi commented on #64
The issue is on line 35 from what I can tell. When writing the file name, don't add the `.json` to the end. The `get_dict` and `write_dict` functions were designed by @koscinskic  to do that on their own. Additionally, you don't even have to specify the file name if you plan on using the default file.

[2020-03-13 03:01] noorbuchi commented on #64
@cklima616 @JMilamber please let me know if that fixed things or you're still getting an error, I will try to review the code more, but I still need to finish studying for our test tomorrow so sorry if I take a long time to reply.

[2020-03-13 03:04] cklima616 commented on #64
@noorbuchi now it's a key error. I understand studying, though, so just whenever you get a chance.
[code]

[2020-03-13 03:10] noorbuchi commented on #64
@cklima616 I think I know what the problem is. It has to do with some parts of data collection not being up to date after the testing metrics were merged. Can you please let me know what commands do you use to get this output so I can try to debug it myself and let you know. If I manage to get it to work, do you mind if I commit these changes? I will explain what I did.

[2020-03-13 03:13] cklima616 commented on #64
@noorbuchi the command I run is: pipenv run python src/cogitate.py -l https://github.com/GatorCogitate/cogitate_tool -t bab27b4ee41930d518a0f63187784fac647a3e0d  -r GatorCogitate/cogitate_tool -rm y

[2020-03-13 03:14] cklima616 commented on #64
@noorbuchi You can generate your own token - I probably shouldn't have put that in a public issue but oh well

[2020-03-13 03:14] noorbuchi commented on #64
@cklima616 I also think that this is a bigger problem that involves @MaddyKapfhammer  and @bagashvilit , since they worked on `data_processor.py`. I hope that they get a chance to help us figure this problem out.

[2020-03-13 03:15] noorbuchi commented on #64
@cklima616 no worries, I will use my token. Check yours just in case it was deactivated. Otherwise, please delete your comment to prevent privacy issues.

[2020-03-13 03:28] noorbuchi commented on #64
@cklima616 I managed to fix the key error we were facing, however, there is another error that I'm not sure how to fix. Again, I think that you should try to contact the individual scoring team to solve this problem. The issue I'm getting is:
[code]
It is a type error resulting from issues within the data processing module. Do you want me to commit the changes that I made for the key error we were

[2020-03-13 03:30] cklima616 commented on #64
@noorbuchi yes, please! I can take a look - I had a similar error earlier that I was able to debug.

[2020-03-13 03:30] cklima616 commented on #64
@MaddyKapfhammer @bagashvilit If either of you have a chance to look at this error, that would be greatly appreciated!

[2020-03-13 03:34] MaddyKapfhammer commented on #85
The final documentation has been merged, so I am now going to close this issue.

[2020-03-13 03:34] #85 closed

[2020-03-13 03:35] noorbuchi commented on #64
Before I commit my changes. Have you been having issues with your test cases. Currently, I can't run the test cases on your branch and I get this error:
[code]

[2020-03-13 03:36] cklima616 commented on #64
@noorbuchi Yeah, we've been having some complications. Capsys for Windows v. Mac really. Thank you for checking, though

[2020-03-13 03:37] noorbuchi commented on #64
@cklima616 no problem, but how do I check that my changes did not cause the test cases to fail. I don't want to commit a change that will cause bugs somewhere else.

[2020-03-13 03:45] JMilamber commented on #64
@noorbuchi just fixed some issues with test cases stash, pull, and stash apply before you commit

[2020-03-13 03:49] noorbuchi commented on #64
@JMilamber thank you, I will do that and let you know. My main concern was not having your test cases fail, I'm worried about the test cases that we have for our module failing because that would mean that I either have to update the test cases or I did something wrong and I think it is important to know.

[2020-03-13 03:51] JMilamber commented on #64
@noorbuchi just refactored another test case and pushed it sorry to make you do this twice.

[2020-03-13 03:52] noorbuchi commented on #64
@JMilamber I'm still having issues with the test cases not running at all. Additionally, I noticed that you accidentally committed all of the raw data, about 20000 lines, to the branch, please make sure to discard those changes before committing.

[2020-03-13 15:33] stephensonc opened #87 "Pytest-sugar does not function in the latest version of pytest"
As seen [here](https://github.com/Teemu/pytest-sugar/issues/187), pytest-sugar breaks Travis builds in version 5.4.x of pytest.

[2020-03-13 15:53] cklima616 commented on #64
@noorbuchi I am still receiving the same type error, and some lint checks aren't passing in data_processor. I just want to know what you think I should do to get this as close to complete as possible by 1:30.

[2020-03-13 15:56] noorbuchi commented on #64
@cklima616 I'm not sure where the issue is, this would be a question for @bagashvilit and @MaddyKapfhammer  since they worked on the module. I will try to look for the issue, but I can't guarantee that I'll find a solution.

[2020-03-13 15:58] bagashvilit commented on #64
@cklima616 Can you display the dictionary before it goes to any function from `data_processor.py`

[2020-03-13 16:04] JMilamber commented on #64
@MaddyKapfhammer  @bagashvilit  we really need you to look at the error mentioned a ways back in this issue.

[2020-03-13 16:05] bagashvilit commented on #64
@JMilamber Can you print the dictionary before it goes to any of our functions, and confirm that you are getting expected output?

[2020-03-13 16:06] cklima616 commented on #64
@bagashvilit @MaddyKapfhammer
[code]

This is what the error looks like when printing the updated dictionary first.

[2020-03-13 16:08] cklima616 commented on #64
@MaddyKapfhammer It seems to be running the individual fn no problem, since the table is printed (though it is empty) but calculate_iqr_score is where the type error occurs.

[2020-03-13 16:13] bagashvilit commented on #64
@cklima616 Before you pass my function output for printing can you print that too?

[2020-03-13 16:18] bagashvilit commented on #64
@cklima616 @noorbuchi and I are looking at your code, we just saw that you guys are not writing the data to the json, we are working on it now

[2020-03-13 16:18] noorbuchi commented on #64
@cklima616  can you please send the command to run this again. I think we figure out the fix for why the table is not printed.

[2020-03-13 16:24] MaddyKapfhammer commented on #64
@cklima616 Are there still issues with the calculate_iqr_score function? I can come help with this if you are in Alden. Though, the only function that should be called by the CLI is calculate_team_score (which uses calculate_iqr_score) in its calculations.

[2020-03-13 16:28] #87 closed

[2020-03-13 16:46] cklima616 commented on #64
Here is the command for the CLI:

pipenv run python src/cogitate.py -l https://github.com/GatorCogitate/cogitate_tool -t token -r GatorCogitate/cogitate_tool -rm y

[2020-03-13 16:49] cklima616 commented on #64
[code]

[2020-03-13 16:55] MaddyKapfhammer commented on #64
@bagashvilit @cklima616 Is the above table for the individual contribution as a percentage? If so it might be useful to add (%) in the headings of the table, so the user understands that these values are a percentage. I don't know how easy or difficult of a change this would be.

[2020-03-14 01:06] JMilamber commented on #64
@noorbuchi   @MaddyKapfhammer  @bagashvilit  @koscinskic I have added the merge usernames loop to the command line interface branch. As of right now I believe it to be working correctly. If you guys could check and let me know if there's anything that needs to be changed?

[2020-03-14 01:11] JMilamber commented on #64
@MaddyKapfhammer  it definitely looks more like percentages than actual # of lines committed, added, etc.  @bagashvilit  @noorbuchi  is the table one of percentages?

[2020-03-14 01:16] bagashvilit commented on #64
@MaddyKapfhammer yes, it is percentages

[2020-03-14 01:47] JMilamber commented on #64
@bagashvilit could we change the tables so that they display that? Would that be possible?

[2020-03-14 02:07] bagashvilit commented on #64
@JMilamber I am glad that merging of the usernames is working. As for the percent sign, as @MaddyKapfhammer mentioned above we probably could add the percent sign, but I am not sure how to modify Pretty table to do that.

[2020-03-14 02:08] JMilamber commented on #64
@MaddyKapfhammer @bagashvilit  @noorbuchi @enpuyou https://docs.pylint.org/en/1.6.0/features.html
was getting a travis check for pylint that said input-builtin in cogitate.py however when i looked this up (as you can see in the link above if you find the detailed description of input-builtin) this should be disabled for python 3 code. Looked at our pylintrc file and we have it enabled, so i remove

[2020-03-14 02:14] JMilamber commented on #64
@bagashvilit  okay no worries! Should I add a print statement to the CLI then so that the user is aware of it?

[2020-03-14 02:17] noorbuchi commented on #64
@JMilamber I can add a condition to the printing function that allows you to add a percentage sign if a `percentage=True` was sent in as a parameter

[2020-03-14 02:21] JMilamber commented on #64
@noorbuchi can you make it default to on? I think this is information that the user should always be aware of. Since a misunderstanding can greatly skew someones grade

[2020-03-14 02:39] noorbuchi commented on #64
@JMilamber I agree that it is important to make sure that the information is clear, however, since the table is designed to print out simple data, I think that no percentage sign should be set to default.

[2020-03-14 02:42] noorbuchi commented on #64
@JMilamber just added the option, please try it out and let me know what you think

[2020-03-14 03:06] JMilamber commented on #64
@noorbuchi will do

[2020-03-14 03:43] JMilamber commented on #64
@noorbuchi  its looks good! thank you for doing that!

[2020-03-14 16:43] MaddyKapfhammer commented on #12
With the completion of all of our features, I am going to close this issue. Good work team!

[2020-03-14 16:43] #12 closed

[2020-03-15 00:36] noorbuchi opened #90 "Future Changes and Improvements"
Hi everyone, thank you all for your work on this project! While we have a partly functioning tool at the moment, there are still some enhancements that would make the tool more user-friendly. In addition to completing and merging the remaining pull requests, I added a list of suggestions and potential changes that we should take into consideration moving forward. Please feel free to work on an ite

[2020-03-16 22:09] Jordan-A commented on #90
@noorbuchi I think it's a great idea to improve the `cogitate_tool`, and I like the features that you have suggested.  Especially the progress bar! I think that I will be working on the Data Processing features soon. At the moment I can't think of any other features that we can add. I'll let you know if any come to mind!

[2020-03-16 22:14] noorbuchi commented on #90
@Jordan-A I'm glad you agree with these changes. The progress bar has already been added to the CLI branch, which is waiting for some minor changes before merging. I recommend that you check out that branch and let us know about any changes that you want to see in the future.

[2020-03-16 22:17] Jordan-A commented on #90
@noorbuchi Will do!

[2020-03-24 18:48] gkapfham commented on #45
What is the status on this issue @lussierc?

[2020-03-24 18:50] gkapfham commented on #67
What it the status on this issue?

[2020-03-24 18:50] lussierc commented on #45
Since the PR for the Web Interface has been merged into ‘master’, I am closing this Issue @gkapfham.

[2020-03-24 18:50] #45 closed

[2020-03-24 19:02] gkapfham commented on #15
What is the status of this issue? Any updates are appreciated!!

[2020-03-24 19:04] gkapfham commented on #64
Can someone comment on what the status is for this issue? Thanks!

[2020-03-24 19:05] gkapfham commented on #47
Can someone please comment on the status of this issue?

[2020-03-24 19:07] gkapfham commented on #49
Can someone please comment on the status of this issue? Thanks!!

[2020-03-24 19:08] noorbuchi commented on #15
@gkapfham I believe that this issue has been resolved and all agreed-upon changes were merged into the master branch. Unless there are any other questions, it can be closed.

[2020-03-24 19:10] #15 closed

[2020-03-24 19:10] lussierc commented on #15
I would agree with @noorbuchi, I don’t think we need this issue now that everything has been merged. If further questions arise we can re-open the issue if necessary.

[2020-03-24 19:10] gkapfham commented on #15
Great, that is what I thought! Can you please go ahead and close the issue? Thanks!

[2020-03-24 19:11] lussierc commented on #67
With all interfaces and features being merged into ‘master’, it seems we no longer need this Issue. @gkapfham

[2020-03-24 19:11] #67 closed

[2020-03-24 19:12] lussierc commented on #64
With all interfaces and features being merged into the master branch, it seems we no longer need this Issue. @gkapfham

[2020-03-24 19:12] #64 closed

[2020-03-24 19:14] hodevin commented on #49
There are no more questions that need to be addressed to the customer at this stage. It seems there is no longer a need for this issue. @gkapfham

[2020-03-24 19:14] #49 closed

[2020-03-25 16:57] JMilamber commented on #47
Branch has been merged, Closing Issue.

[2020-03-25 16:57] #47 closed

[2020-03-29 22:14] stephensonc commented on #90
Currently, it seems like we collect the issue and pull request data, but do not include it in the report. I think that a future change would be to incorporate issues/prs and metrics associated with them, given that we have the data in the json.

[2020-03-29 23:19] noorbuchi commented on #90
@stephensonc I also think that these are good changes to add in the future. We collect the issues and pull requests information, but we only display their number through the web interface. We can hopefully work in this later on after discussing if we want to continue supporting this tool. Thanks for the suggestion.

[2020-03-31 19:38] noorbuchi opened #91 "Dependencies Update Needed"
While @carmop and I were discussing how to run the tool, we noticed that there is a dependency missing from the `Pipfile`. This dependency is the `validators` package used by the CLI team and in the `cogitate.py` module. It is responsible for confirming that a valid GitHub URL is being sent in as an argument. When installing the dependencies using the virtual environment, this package is not being

[2020-03-31 19:41] cklima616 commented on #91
Is there a way to create this change directly to Master without messing anyone up?
I think we had this change to the Pipfile initially, but other merges may have removed it accidentally. I'm happy to be of help! If making a separate branch is necessary, I am happy to do that and make a PR today.

[2020-03-31 19:48] noorbuchi commented on #91
@cklima616 I think that creating a separate branch would be better simply to avoid breaking the build. Going through the review process would also be helpful to see if anyone has any additional suggestions for fixes.

[2020-03-31 19:58] noorbuchi commented on #91
Also, I haven't been able to replicate this issue myself. This was something that @carmop told me about. So I want to confirm that this is an issue for many different users so we can know how to go about fixing it. In @carmop 's case, adding the package to the pipfile and reinstalling the dependencies fixed the issue.

[2020-03-31 20:05] cklima616 commented on #91
https://github.com/GatorCogitate/cogitate_tool/pull/92

[2020-03-31 20:06] cklima616 commented on #91
@noorbuchi I created a PR with the change! I will post it in Slack to get some reviewers and some more insight as to who has had a similar error.

[2020-04-02 19:02] #91 closed